<section class="content">
    <div class="row">        
        <div class="col-lg-12 data-table-set">
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Schedule Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Next Execution Time</th>
                        <th>Schedule Last Execution Status</th>
                        <th>Enable/Disable</th>
                        <th>
                            <button class="btn btn-success btn-xs" ui-sref="index.schedulerIndex.editOrNewScheduler({accountId: accountId, accountName: accountName, schedulerId: 0, startDate: startDate, endDate: endDate})"><i class="fa fa-plus"></i></button>
                        </th>
                    </tr>
                </thead>
                <tbody ng-repeat="scheduler in schedulers" ng-switch on="dayDataCollapse[$index]">
                    <tr >
                        <td ng-click="showSchedulerHistory(scheduler);selectTableRow($index, scheduler.id)">{{$index + 1}}</td>
                        <td ng-click="showSchedulerHistory(scheduler);selectTableRow($index, scheduler.id)">{{scheduler.schedulerName}}</td>
                        <td ng-click="showSchedulerHistory(scheduler);selectTableRow($index, scheduler.id)">{{scheduler.startDate| date: 'MM/dd/yyyy'}}</td>
                        <td ng-click="showSchedulerHistory(scheduler);selectTableRow($index, scheduler.id)">{{scheduler.endDate| date: 'MM/dd/yyyy'}}</td>
                        <td ng-click="showSchedulerHistory(scheduler);selectTableRow($index, scheduler.id)">{{scheduler.startDate| date: 'MM/dd/yyyy'}}</td>
                        <td ng-click="showSchedulerHistory(scheduler);selectTableRow($index, scheduler.id)">{{scheduler.endDate| date: 'MM/dd/yyyy'}} Last Execution Status</td>
                        <td>
                            <div class="checkbox checkbox-slider--b">
                                <label class="" for="field{{$index + 1}}">
                                    <input id="field{{$index + 1}}" type="checkbox" ng-model="scheduler.startStop"/>
                                    <span></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-default btn-xs" ui-sref="index.schedulerIndex.editOrNewScheduler({accountId: accountId, accountName: accountName, schedulerId: scheduler.id, startDate: startDate, endDate: endDate})"><span class="fa fa-pencil"></span></button>
                            <button class="btn btn-default btn-xs" ng-click="deleteScheduler(scheduler, $index)"><span class="fa fa-trash"></span></button>
                        </td>
                    </tr>
                    <!--<tr  ng-show="showTableRow[scheduler.id]">-->
                    <tr ng-switch-when="true">
                        <td colspan="8">
                            <div>
                                <div>
                                    <table class="table table-bordered text-center">
                                        <thead>
                                            <tr class="success">
                                                <td colspan="2">schedulerName</td>
                                                <td>StartDate</td>
                                                <td>startTime</td>
                                                <td>endTime</td>
                                                <td>status</td>
                                                <td colspan="2">FileName</td>
                                            </tr>
                                            <tr ng-if="schedularHistoryData=true">
                                                <td colspan="8">{{schedularData}}</td> 
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="history in schedularHistoryDetails" class="success" >
                                                <td colspan="2">{{history.schedulerName}}</td>
                                                <td>{{history.startDate}}</td>
                                                <td>{{history.executionStartTime}}</td>
                                                <td>{{history.executionEndTime}}</td>
                                                <td>{{history.status}}</td>
                                                <td colspan="2">{{history.fileName}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>