<style> 
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .table-fixed thead {
        width: 100%;
        border-bottom: none;
    }
    .table-fixed tbody {
        height: 430px;
        overflow-y: auto !important;
        width: 100%;
    }
    .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
        display: block;
        overflow: hidden;
    }
    .table-fixed tbody td, .table-fixed thead > tr> th {
        float: left;
        border-bottom-width: 0;
    }
</style>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <section class="content-header">
                <h1 class="data-title font-bold">Data Source</h1>
            </section>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-8 pull-left">
                    <div>
                        <table class="table table-responsive table-fixed">
                            <thead>
                                <tr>
                                    <th class="col-xs-2">Name</th>
                                    <th class="col-xs-2">Type</th>
                                    <th class="col-xs-4">Connection String</th>
                                    <th class="col-xs-2">Driver</th>
                                    <th class="col-xs-2">User Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="dataSource in dataSources" ng-click="editDataSource(dataSource, $index)" ng-class="{'selectedTableRow':$index == selectedRow}">
                                    <td class="col-xs-2">{{dataSource.name ? dataSource.name:'-'}}</td>
                                    <td class="col-xs-2">{{dataSource.dataSourceType ? dataSource.dataSourceType : '-'}}</td>
                                    <td class="col-xs-4">{{dataSource.connectionString?dataSource.connectionString:'-'}}</td>
                                    <td class="col-xs-2">{{dataSource.sqlDriver?dataSource.sqlDriver:'-'}}</td>
                                    <td class="col-xs-2">{{dataSource.userName?dataSource.userName:'-'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" type="text" ng-model="dataSource.name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label>Type</label>
                            <select class="form-control" ng-model="dataSource.dataSourceType">
                                <option value="" selected="selected" ng-disabled="true">Choose one</option>
                                <option ng-repeat="sourceType in dataSourceTypes"  value="{{sourceType.type}}">{{sourceType.name}}</option>
                            </select>
                        </div>
                        <div class="form-group" ng-if="dataSource.dataSourceType === 'sql'">
                            <label>Connection String</label>
                            <input type="text" class="form-control" ng-model="dataSource.connectionString">
                        </div>
                        <div class="form-group" ng-if="dataSource.dataSourceType === 'csv' || dataSource.dataSourceType === 'xls' || dataSource.dataSourceType === 'https'">
                            <label ng-if="dataSource.dataSourceType === 'csv' || dataSource.dataSourceType === 'xls'">File Upload</label>
                            <div class="fileUpload btn btn-primary" ng-if="dataSource.dataSourceType === 'csv'">
                                <span>Upload</span>
                                <input class="upload" type="file" 
                                       accept=".csv" 
                                       ID="fileSelect" runat="server"
                                       ng-model-instant onchange="angular.element(this).scope().csvFileUpload(event)" />
                            </div>                            

                            <div class="fileUpload btn btn-primary" ng-if="dataSource.dataSourceType === 'xls'">
                                <span>Upload</span>
                                <input class="upload" type="file" 
                                       accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" 
                                       ID="fileSelect" runat="server"
                                       ng-model-instant onchange="angular.element(this).scope().xlsFileUpload(event)" />
                            </div>

                            <div ng-if="dataSource.dataSourceType === 'csv' || dataSource.dataSourceType === 'xls'">
                                <div class="upload-border">{{sourceFileName?sourceFileName:dataSource.connectionString}}</div>
                            </div>

                            <label ng-if="dataSource.dataSourceType === 'https'">File Url</label>
                            <div ng-if="dataSource.dataSourceType === 'https'">
                                <input id="uploadFile" type="text" class="form-control" ng-model="dataSource.sourceFile">
                            </div>

                        </div>                       
                        <div class="form-group" ng-if="dataSource.dataSourceType === 'sql'">
                            <label>Driver</label>
                            <input type="text" class="form-control" ng-model="dataSource.sqlDriver">
                        </div>
                        <div class="form-group" ng-if="dataSource.dataSourceType === 'sql'">
                            <label>User Name</label>
                            <input type="text" class="form-control" ng-model="dataSource.userName">
                        </div>
                        <div class="form-group" ng-if="dataSource.dataSourceType === 'sql'">
                            <label>Password</label>
                            <input type="text" class="form-control" ng-model="dataSource.password">
                        </div>
                        <div class="form-group pull-right">
                            <button class="btn btn-info" ng-click="saveDataSource(dataSource)">Save</button>
                            <button class="btn btn-warning" ng-click="clearDataSource(dataSource)">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
