<style> 
    .fileUpload {
        position: relative;
        overflow: hidden;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .table-fixed thead {
        width: 100%;
        border-bottom: none;
    }
    .table-fixed tbody {
        /*        height: 430px;*/
        overflow-y: auto !important;
        width: 100%;
    }
    .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
        display: block;
        overflow: hidden;
    }
    .table-fixed tbody td, .table-fixed thead > tr> th {
        float: left;
        border-bottom-width: 0;
    }
    .table-fixed tr td {
        cursor:pointer;
    }
    .agency-bt {
        margin-bottom: 10px;
    }
    .header-title {
        border-bottom: 1px solid #a3c185 !important;
        border-top: 1px solid #a3c185 !important;
    }
    .hpanel .panel-body {
        border: 1px solid #e4e5e7;
    }
    .btn-primary {
        background-color: #777;
        border-color: #777;
        color: #FFFFFF;
    }

</style>
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body header-title">
            <div id="hbreadcrumb" class="pull-right">
            </div>
            <h2 class="font-bold m-b-xs ng-binding">
                Data Source
            </h2>               
        </div>
    </div>
</div>

<section class="content">
    <div class="row">

        <div class="col-md-8">

            <div class="hpanel">                
                <div>
                    <table class="table table-responsive table-fixed">
                        <thead>
                            <tr>
                                <th class="col-xs-2">Name</th>
                                <th class="col-xs-2">Type</th>
                                <th class="col-xs-3">Connection String</th>
                                <th class="col-xs-2">Driver</th>
                                <th class="col-xs-2">User Name</th>
                                <th class="col-xs-1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dataSource in dataSources" ng-click="highlightDataSource($index)" ng-class="{'selectedTableRow':$index == selectedRow}">
                                <td class="col-xs-2" ng-click="editDataSource(dataSource)">{{dataSource.name ? dataSource.name:'-'}}</td>
                                <td class="col-xs-2" ng-click="editDataSource(dataSource)">{{dataSource.dataSourceType ? dataSource.dataSourceType : '-'}}</td>
                                <td class="col-xs-3" ng-click="editDataSource(dataSource)">{{dataSource.connectionString?dataSource.connectionString:'-'}}</td>
                                <td class="col-xs-2" ng-click="editDataSource(dataSource)">{{dataSource.sqlDriver?dataSource.sqlDriver:'-'}}</td>
                                <td class="col-xs-2" ng-click="editDataSource(dataSource)">{{dataSource.userName?dataSource.userName:'-'}}</td>
                                <td class="col-xs-1">
                                    <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#deleteDataSource{{dataSource.id}}"><i class="fa fa-trash-o"></i></button>
                                    <div class="modal hmodal-success" id="deleteDataSource{{dataSource.id}}" tabindex="-1" role="dialog"  aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="color-line"></div>
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Delete</h4>
                                                    <small class="font-bold"></small>
                                                </div>
                                                <div class="modal-body">
                                                    <form class="form-horizontal" role="form">
                                                        <div class="form-group">
                                                            <div class="col-sm-12  col-md-12">
                                                                <span>Want to delete ?</span>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="col-sm-12">
                                                        <button type="button" class="btn btn-primary btn-xs " 
                                                                ng-click="deleteDataSource(dataSource, $index)" 
                                                                data-dismiss="modal">
                                                            <span class="fa fa-trash"></span> Yes
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-xs " 
                                                                data-dismiss="modal">
                                                            <span class="fa fa-times"></span> No
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="col-md-4">                        
            <div class="hpanel">              
                <div class="panel-body">
                    <form class="col-md-12 form-horizontal" name="dataSourceForm">
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" type="text" ng-change="authenticateStatus(dataSource.name)" ng-model="dataSource.name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label>Type</label>
                            <select class="form-control" ng-model="dataSource.dataSourceType" ng-change="selectSourceType(dataSource)">
                                <option value="" selected="selected" ng-disabled="true">Choose one</option>
                                <option ng-repeat="sourceType in dataSourceTypes"  value="{{sourceType.type}}">{{sourceType.name}}</option>
                            </select>
                        </div>
<!--                        <div class="form-group" ng-if="dataSource.dataSourceType === 'sql'">
                            <label>Connection String</label>
                            <input type="text" class="form-control" ng-model="dataSource.connectionString">
                        </div>-->
                        <div class="form-group" ng-if="dataSource.dataSourceType === 'sql' || dataSource.dataSourceType === 'skyZone' || dataSource.dataSourceType === 'autoMobiles' || dataSource.dataSourceType === 'dataSetSql' || dataSource.dataSourceType === 'semRush'">
                            <label ng-if="dataSource.dataSourceType !== 'semRush'" translate>Connection String</label>
                            <label ng-if="dataSource.dataSourceType === 'semRush'" translate>API Key</label>
                            <input type="text" class="form-control" ng-model="dataSource.connectionString">
                        </div>


                        <!--                                <div class="form-group" ng-if="dataSource.dataSourceType === 'csv'">
                                                            <label>File Upload</label>
                                                            <div class="fileUpload btn btn-primary">
                                                                <span>Upload</span>
                                                                <input class="upload" type="file" 
                                                                       accept=".csv" onchange="angular.element(this).scope().csvFileUpload(event)" />
                                                            </div> 
                                                        </div>-->
                        <div class="form-group" ng-show="showCSVFileUpload">
                            <div class="fileUpload btn btn-primary">
                                <label>Select</label>
                                <input class="upload" type="file"
                                       file-model="myFile"
                                       accept=".csv"
                                       onchange="angular.element(this).scope().selectFileUploadName(event)">
                            </div>
                        </div>
                        <div class="form-group" ng-show="showXLSFileUpload">
                            <div class="fileUpload btn btn-primary">
                                <label>Select</label>
                                <input class="upload" type="file"
                                       file-model="myFile"
                                       accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                       onchange="angular.element(this).scope().selectFileUploadName(event)">
                            </div>
                        </div>

                        <div  class="form-group" ng-if="dataSource.dataSourceType === 'csv' || dataSource.dataSourceType === 'xls'">
                            <div>
                                <div class="upload-border">{{sourceFileName?sourceFileName:dataSource.connectionString}}</div>
                            </div>
                        </div>
                        <div class="form-group" ng-if="dataSource.dataSourceType === 'sql'">
                            <label>Driver</label>
                            <input type="text" class="form-control" ng-model="dataSource.sqlDriver">
                        </div>
                        <div class="form-group" ng-if="dataSource.dataSourceType === 'sql'">
                            <label>User Name</label>
                            <input type="text" class="form-control" ng-model="dataSource.userName">
                        </div>
                        <div class="form-group" ng-if="dataSource.dataSourceType === 'sql'">
                            <label>Password</label>
                            <input type="text" class="form-control" ng-model="dataSource.password">
                        </div>
                        <input type="hidden" id="fbAccessToken" ng-model="dataSource.accessToken">
                        <input type="hidden" id="fbOauthToken" ng-model="dataSource.oauthToken">
                        <input type="hidden" id="dataSourceType" ng-model="dataSource.dataSourceType">
                        <div class="form-group pull-right">
                            <button ng-if="!(dataSource.dataSourceType === 'csv' || dataSource.dataSourceType === 'xls')" 
                                    class="btn btn-info" ng-click="saveDataSource(dataSource)">Save</button>
                            <button ng-if="dataSource.dataSourceType === 'csv' || dataSource.dataSourceType === 'xls'"
                                    class="btn btn-info" ng-click="uploadFile(dataSource)">Save</button>
                            <button class="btn btn-warning" ng-click="clearDataSource(dataSource)">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>  




    </div>
</section>
