<style> 
    #editor {
        height: 300px;
    }
    .table-fixed thead {
        width: 100%;
        border-bottom: none;
    }
    .table-fixed tbody {
        /*        height: 430px;*/
        /*        overflow-y: auto !important;*/
        width: 100%;
    }
    .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
        display: block;
    }
    .table-fixed tbody td, .table-fixed thead > tr> th {
        float: left;
        border-bottom-width: 0;
    }
    .table-fixed tr td {
        cursor:pointer;
    }
    .account-new{
        margin-bottom: 10px;
    }

    .agency-bt {
        margin-bottom: 10px;
    }
    .nav-tabs-custom {
        padding-top: 0px;
        padding-bottom: 10px;
    }
    .hpanel .panel-body {
        border: 1px solid #e4e5e7;
    }  
    .image-upload img{
        width: 100px;
        display: block;
        cursor: pointer;
    }
    .image-upload > input
    {
        display: none;
    }

</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body header-title">
            <div id="hbreadcrumb" class="pull-right">
            </div>
            <h2 class="font-bold m-b-xs ng-binding" translate>
                Accounts
            </h2>               
        </div>
    </div>
</div>

<section class="content">
    <div class="row">
        <div class="nav-tabs-custom col-md-12">
            <ul class="nav nav-tabs">
                <li ng-class="{ active: isSet(1) }">
                    <a href ng-click="setTab(1)" translate> Details</a>
                </li>
                <li ng-class="{ active: isSet(2) }">
                    <a href ng-click="setTab(2)" translate> Property
                    </a>
                </li>
                <li ng-if="permission.assignAccount === true;" ng-class="{ active: isSet(3) }">
                    <a href ng-click="setTab(3)" translate> User
                    </a>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-6">
                    <div class="hpanel">                        
                        <div class="panel-body">
                            <div class="tab-content">
                                <div ng-show="isSet(1)" class="license">                                   

                                    <div class="col-md-12">
                                        <form class="form-horizontal">

                                            <div class="form-group">
                                                <div class="row col-md-4">
                                                    <div class="image-upload">
                                                        <label for="file-input">
                                                            <img class="img-responsive img-thumbnail" ng-src="{{account.logo}}" title="Logo - This image will be constrained to a max height of 56px and max width of 150px. Width will be scaled by the browser. Acceptable Formats: jpg, jpeg, png"/>
                                                        </label>

                                                        <input id="file-input" type="file" ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" title="Logo - This image will be constrained to a max height of 56px and max width of 150px. Width will be scaled by the browser. Acceptable Formats: jpg, jpeg, png"/>
                                                    </div>                                                    
                                                </div>
                                                <div class="pull-right account-new">
                                                    <button class="btn btn-success" ng-click="addAccount()" translate>New</button>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label translate>Name</label>
                                                <div>
                                                    <input type="text" class="form-control" ng-model="account.accountName" placeholder="{{'Name' | translate}}">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label translate>Geo Location</label>
                                                <div>
                                                    <input type="text" class="form-control" ng-model="account.geoLocation" placeholder="{{'Geo Location' | translate}}">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label translate>Description</label>
                                                <div>
                                                    <textarea class="form-control" ng-model="account.description" placeholder="{{'Description' | translate}}" rows="1" style="min-height: 100px;"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group pull-right">
                                                <button class="btn btn-info" ng-click="saveAccount(account)" translate>Save</button>
                                                <button class="btn btn-warning" ng-click="clearAccount(account)" translate>Cancel</button>
                                            </div>
                                        </form>
                                    </div>


                                </div>
                                <div ng-show="isSet(2)" class="license">
                                    <div class="col-lg-12 table-responsive" ng-hide="showEditPage">
                                        <table class="table table-fixed">
                                            <thead>
                                                <tr>
                                                    <th class="col-xs-5" translate>Name</th>
                                                    <!--<th class="col-xs-4">Account Name</th>-->
                                                    <th class="col-xs-6" translate>Value</th>
                                                    <th class="col-xs-1">
                                                        <button class="btn btn-success btn-xs" title="Add" ng-click="addProperty()"><i class="fa fa-plus"></i></button>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="property in properties" ng-class="{'selectedTableRow':$index == selectedRows}" ng-click="setPropertyRow($index)">
                                                    <td class="col-xs-5" ng-click="editProperty(property)">
                                                        {{property.propertyName}}
                                                    </td>
                                                    <!--                                                            <td class="col-xs-4" ng-click="editProperty(property)">
                                                                                                                    {{property.accountId.accountName}}
                                                                                                                </td>-->
                                                    <td class="col-xs-6" ng-click="editProperty(property)">
                                                        {{property.propertyValue}}
                                                    </td>
                                                    <td class="col-xs-1">
                                                        <button class="btn btn-default btn-xs" title="Delete" data-toggle="modal" data-target="#deleteProperty{{property.id}}"><i class="fa fa-trash-o"></i></button>
                                                        <div class="modal hmodal-success" id="deleteProperty{{property.id}}" tabindex="-1" role="dialog"  aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="color-line"></div>
                                                                    <div class="modal-header">
                                                                        <button type="button" title="Cancel" class="close" data-dismiss="modal">&times;</button>
                                                                        <h4 class="modal-title" translate>Delete</h4>
                                                                        <small class="font-bold"></small>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <form class="form-horizontal" role="form">
                                                                            <div class="form-group">
                                                                                <div class="col-sm-12  col-md-12">
                                                                                    <span translate>Want to delete?</span>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <div class="col-sm-12">
                                                                            <button type="button" class="btn btn-primary btn-xs " 
                                                                                    ng-click="deleteProperty(property, $index)" 
                                                                                    data-dismiss="modal">
                                                                                <span class="fa fa-trash"></span><span translate> Yes</span>
                                                                            </button>
                                                                            <button type="button" class="btn btn-danger btn-xs " 
                                                                                    data-dismiss="modal">
                                                                                <span class="fa fa-times"></span><span translate> No </span>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div ng-show="showEditPage" class="col-md-12">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label translate>Name</label>
                                                <div>
                                                    <input type="text" class="form-control" ng-model="property.propertyName" placeholder="{{'Name'|translate}}">
                                                </div>
                                                <!--                                                        <label class="col-sm-2">Account Name</label>
                                                                                                        <div class="col-sm-4">
                                                                                                            <input type="text" class="form-control" ng-model="property.accountId" placeholder="Name">
                                                                                                            <select class="form-control" 
                                                                                                                    ng-options="account.accountName for account in accounts track by account.id" 
                                                                                                                    ng-model="property.accountId">
                                                                                                                <option value="" selected="selected" ng-disabled="true">Choose one</option>
                                                                                                            </select>
                                                                                                        </div>-->
                                            </div>

                                            <div class="form-group">
                                                <label translate>Value</label>
                                                <div>
                                                    <input type="text" class="form-control" ng-model="property.propertyValue" placeholder="{{'Value'|translate}}">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label translate>Remark</label>
                                                <div>
                                                    <textarea class="form-control" ng-model="property.propertyRemark" placeholder="{{'Remark'|translate}}" rows="1" style="min-height: 100px;"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group pull-right">
                                                <button class="btn btn-info" ng-click="saveProperty(property)" translate>Save</button>
                                                <button class="btn btn-warning" ng-click="clearProperty(property)" translate>Cancel</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                                <div ng-show="isSet(3)" class="license">

                                    <div class="col-lg-12 table-responsive">
                                        <table class="table table-fixed">
                                            <thead>
                                                <tr>
                                                    <!--<th class="col-xs-4">Account Name</th>-->
                                                    <th class="col-xs-6" translate>User Name</th>
                                                    <th class="col-xs-4" translate>Status</th>
                                                    <th class="col-xs-2">
                                                        <button class="btn btn-success btn-xs" title="Add" ng-click="addAccountUser()"><i class="fa fa-plus"></i></button>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="accountUser-Table" ng-repeat="accountUser in accountUsers" ng-class="{'selectedTableRow':$index == selectedAccountUser}" ng-click="setAccountUserRow($index)">
                                                    <!--                                                            <td class="col-xs-4" ng-click="editAccountUser(accountUser)">
                                                                                                                    {{accountUser.accountId.accountName}}
                                                                                                                </td>-->
                                                    <td class="col-xs-6 account-select2" ng-click="editAccountUser(accountUser)">
                                                        <div ng-hide="accountUser.isEdit">
                                                            {{accountUser.userId.userName}}
                                                        </div>
                                                        <div ng-show="accountUser.isEdit">
                                                            <ui-select ng-model="accountUser.userId" theme="select2" ng-disabled="disabled">
                                                                <ui-select-match placeholder="{{'Select User'|translate}}">{{$select.selected.userName}}</ui-select-match>
                                                                <ui-select-choices repeat="user in users | filter: $select.search">
                                                                    <span ng-bind-html="user.userName | highlight: $select.search"></span>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                        </div>
                                                    </td>
                                                    <td class="col-xs-4" ng-click="editAccountUser(accountUser)">
                                                        <div class="checkbox checkbox-slider--b">
                                                            <label class="col-sm-4" for="field{{$index + 1}}">
                                                                <input id="field{{$index + 1}}" type="checkbox" ng-model="accountUser.status" ng-change="saveStatus(accountUser)" value="1" />
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                        <!--<i class="fa" ng-class="{'fa-times': !accountUser.status, 'text-danger':!accountUser.status, 'fa-circle': accountUser.status, 'text-success':accountUser.status}"></i>-->
                                                    </td>
                                                    <td class="col-xs-2">
                                                        <button ng-show="accountUser.isEdit" class="btn btn-default btn-xs" title="Save"ng-click="saveAccountUser(accountUser)"><i class="fa fa-save"></i></button>
                                                        <button ng-show="accountUser.isEdit" class="btn btn-default btn-xs" title="Cancel" ng-click="removeAccountUser($index)"><i class="fa fa-times"></i></button>
                                                        <button ng-hide="accountUser.isEdit" class="btn btn-default btn-xs" title="Delete" data-toggle="modal" data-target="#deleteAccountUser{{accountUser.id}}"><i class="fa fa-trash-o"></i></button>
                                                        <div class="modal hmodal-success" id="deleteAccountUser{{accountUser.id}}" tabindex="-1" role="dialog"  aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="color-line"></div>
                                                                    <div class="modal-header">
                                                                        <button type="button" title="Cancel" class="close" data-dismiss="modal">&times;</button>
                                                                        <h4 class="modal-title" translate>Delete</h4>
                                                                        <small class="font-bold"></small>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <form class="form-horizontal" role="form">
                                                                            <div class="form-group">
                                                                                <div class="col-sm-12  col-md-12">
                                                                                    <span translate>Want to delete?</span>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <div class="col-sm-12">
                                                                            <button type="button" class="btn btn-primary btn-xs " 
                                                                                    ng-click="deleteAccountUser(accountUser, $index)" 
                                                                                    data-dismiss="modal">
                                                                                <span class="fa fa-trash"></span><span translate> Yes</span>
                                                                            </button>
                                                                            <button type="button" class="btn btn-danger btn-xs " 
                                                                                    data-dismiss="modal">
                                                                                <span class="fa fa-times"></span> <span translate>No</span>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>



                <div class="col-md-6">
                    <div class="hpanel">
                        <div class="panel-body">
                            <div class="data-search">
                                <input type="text" class="form-control" ng-model="searchAccount" placeholder="{{'Search'| translate}}">
                            </div>
                            <table class="table table-responsive table-fixed">
                                <thead>
                                    <tr>
                                        <th class="col-xs-4" translate>Name</th>
                                        <th class="col-xs-4" translate>Geo Location</th>
                                        <th class="col-xs-3" translate>Agency Name</th>
                                        <th class="col-xs-1"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-dir-paginate="account in accounts| filter: searchAccount|itemsPerPage:10:'myPagedItems'"  data-pagination-id="myPagedItems" ng-class="{'selectedTableRow':$index == selectedRow}">
                                        <td class="col-xs-4" ng-click="editAccount(account, $index); accountData()">
                                            {{account.accountName}}
                                        </td>
                                        <td class="col-xs-4" ng-click="editAccount(account, $index); accountData()">
                                            {{account.geoLocation?account.geoLocation:'-'}}
                                        </td>
                                        <td class="col-xs-3" ng-click="editAccount(account, $index); accountData()">
                                            {{account.agencyId.agencyName?account.agencyId.agencyName:'-'}}
                                        </td>
                                        <td class="col-xs-1">
                                            <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#deleteAccount{{account.id}}"><i class="fa fa-trash-o"></i></button>
                                            <div class="modal hmodal-success" id="deleteAccount{{account.id}}" tabindex="-1" role="dialog"  aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="color-line"></div>
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title" translate>Delete</h4>
                                                            <small class="font-bold"></small>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form class="form-horizontal" role="form">
                                                                <div class="form-group">
                                                                    <div class="col-sm-12  col-md-12">
                                                                        <span translate>Want to delete?</span>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <div class="col-sm-12">
                                                                <button type="button" class="btn btn-primary btn-xs " 
                                                                        ng-click="deleteAccount(account, $index)" 
                                                                        data-dismiss="modal">
                                                                    <span class="fa fa-trash"></span><span translate> Yes</span>
                                                                </button>
                                                                <button type="button" class="btn btn-danger btn-xs " 
                                                                        data-dismiss="modal">
                                                                    <span class="fa fa-times"></span> <span translate>No</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <dir-pagination-controls data-pagination-id="myPagedItems" data-template-url="static/views/reports/pagination.tpl.html"></dir-pagination-controls>
                        </div>
                    </div>  
                </div> 
            </div>
        </div>                
    </div>
</section>
