<style> 
    #editor {
        height: 300px;
    }

    .table-fixed thead {
        width: 100%;
        border-bottom: none;
    }
    .table-fixed tbody {        
        height: 480px;
        overflow-y: auto !important;
        width: 100%;
    }
    .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
        display: block;
        /*overflow: hidden;*/
    }
    .table-fixed tr{
        cursor: pointer;
    }
    .table-fixed tbody td, .table-fixed thead > tr> th {
        float: left;
        border-bottom-width: 0;
    }    
    .switch_wrap input[type="checkbox"] {
        display: none;
    }

    .switch_wrap input[type="checkbox"]:checked + .switch {
        background-color: #6cbc43;
    }

    .switch_wrap input[type="checkbox"]:checked + .switch::before {
        display: block;
    }

    .switch_wrap input[type="checkbox"]:checked + .switch::after {
        display: none;
    }

    .switch_wrap input[type="checkbox"]:checked + .switch .bullet {
        left: 33px;
    }

    .switch_wrap .switch {
        position: relative;
        display: inline-block;
        width: 65px;
        height: 24px;
        line-height: 24px;
        margin-right: 1em;
        margin-top: -3px;
        vertical-align: middle;
        background-color: #c1272d;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgb(255,255,255);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgb(255,255,255);
    }

    .switch_wrap .switch::before,
    .switch_wrap .switch::after {
        content: 'ON';
        display: none;
        width: 50%;
        position: absolute;
        top: 0;
        font-size: 11px;
        font-weight: bold;
        color: white;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        text-align: center;
    }

    .switch_wrap .switch::after {
        content: 'OFF';
        display: block;
        right: 0;
    }

    .switch_wrap .switch .bullet {
        position: relative;
        display: block;
        width: 32px;
        height: 26px;
        top: -2px;
        left: -2px;
        background-color: #f0f0f0;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#e6e6e6));
        background-image: -webkit-linear-gradient(top, #f0f0f0, #e6e6e6);
        background-image: -moz-linear-gradient(top, #f0f0f0, #e6e6e6);
        background-image: -ms-linear-gradient(top, #f0f0f0, #e6e6e6);
        background-image: -o-linear-gradient(top, #f0f0f0, #e6e6e6);
        background-image: linear-gradient(top, #f0f0f0, #e6e6e6);
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 0 white inset, 0 1px 1px rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 0 white inset, 0 1px 1px rgba(0, 0, 0, 0.25);
        -webkit-transition: left 0.1s linear;
        -moz-transition: left 0.1s linear;
        -ms-transition: left 0.1s linear;
        -o-transition: left 0.1s linear;
        transition: left 0.1s linear;
    }

    .switch_wrap .switch .bullet::before,
    .switch_wrap .switch .bullet::after {
        content: '';
        display: block;
        height: 15px;
        width: 3px;
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -6px;
        border: 1px solid #cccccc;
        border-width: 0 1px;
        -webkit-box-shadow: 1px 0 0 white, 1px 0 0 white inset;
        box-shadow: 1px 0 0 white, 1px 0 0 white inset;
    }

    .switch_wrap .switch .bullet::after {
        margin-left: 2px;
    }
    .account-new{
        margin-bottom: 10px;
    }
</style>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <section class="content-header">
                <h1 class="text-capitalize">Accounts</h1>        
            </section>
        </div>
        <div class="col-md-4 data-search">
            <input type="text" class="form-control" ng-model="searchAccount" placeholder="Search...">
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-6">
                    <div>
                        <table class="table table-fixed">
                            <thead>
                                <tr>
                                    <th class="col-xs-5">Name</th>
                                    <th class="col-xs-6">Geo Location</th>
                                    <th class="col-xs-1"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="account in accounts| filter: searchAccount" ng-class="{'selectedTableRow':$index == selectedRow}">
                                    <td class="col-xs-5" ng-click="editAccount(account, $index); accountData()">
                                        {{account.accountName}}
                                    </td>
                                    <td class="col-xs-6" ng-click="editAccount(account, $index); accountData()">
                                        {{account.geoLocation?account.geoLocation:'-'}}
                                    </td>
                                    <td class="col-xs-1s">
                                        <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#deleteAccount{{account.id}}"><i class="fa fa-trash-o"></i></button>
                                        <div class="modal hmodal-success" id="deleteAccount{{account.id}}" tabindex="-1" role="dialog"  aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="color-line"></div>
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Delete</h4>
                                                        <small class="font-bold"></small>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form class="form-horizontal" role="form">
                                                            <div class="form-group">
                                                                <div class="col-sm-12  col-md-12">
                                                                    <span>Want to delete ?</span>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="col-sm-12">
                                                            <button type="button" class="btn btn-primary btn-xs " 
                                                                    ng-click="deleteAccount(account, $index)" 
                                                                    data-dismiss="modal">
                                                                <span class="fa fa-trash"></span> Yes
                                                            </button>
                                                            <button type="button" class="btn btn-danger btn-xs " 
                                                                    data-dismiss="modal">
                                                                <span class="fa fa-times"></span> No
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>  

                <div class="col-md-6">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li ng-class="{ active: isSet(1) }">
                                <a href ng-click="setTab(1)"> Details</a>
                            </li>
                            <li ng-class="{ active: isSet(2) }">
                                <a href ng-click="setTab(2)"> Property
                                </a>
                            </li>
                            <li ng-if="permission.assignAccount === true;" ng-class="{ active: isSet(3) }">
                                <a href ng-click="setTab(3)"> User
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="row">
                        <div class="tab-content">
                            <div ng-show="isSet(1)">
                                <section class="content">
                                    <div class="pull-right account-new">
                                        <button class="btn btn-success" ng-click="addAccount()">New</button>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-2">Name</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" ng-model="account.accountName" placeholder="Name">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2">Geo Location</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" ng-model="account.geoLocation" placeholder="Geo">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2">Description</label>
                                                    <div class="col-sm-10">
                                                        <textarea class="form-control" ng-model="account.description" placeholder="Description" rows="1" style="min-height: 100px;"></textarea>
                                                    </div>
                                                </div>
                                                <div class="pull-right">
                                                    <button class="btn btn-info" ng-click="saveAccount(account)">Save</button>
                                                    <button class="btn btn-warning" ng-click="clearAccount(account)">Cancel</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div ng-show="isSet(2)">
                                <section class="content">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-lg-12" ng-hide="showEditPage">
                                                <table class="table table-fixed">
                                                    <thead>
                                                        <tr>
                                                            <th class="col-xs-5">Name</th>
                                                            <!--<th class="col-xs-4">Account Name</th>-->
                                                            <th class="col-xs-6">Value</th>
                                                            <th class="col-xs-1">
                                                                <button class="btn btn-success btn-xs" ng-click="addProperty()"><i class="fa fa-plus"></i></button>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody style="height:420px">
                                                        <tr ng-repeat="property in properties" ng-class="{'selectedTableRow':$index == selectedRows}" ng-click="setPropertyRow($index)">
                                                            <td class="col-xs-5" ng-click="editProperty(property)">
                                                                {{property.propertyName}}
                                                            </td>
                                                            <!--                                                            <td class="col-xs-4" ng-click="editProperty(property)">
                                                                                                                            {{property.accountId.accountName}}
                                                                                                                        </td>-->
                                                            <td class="col-xs-6" ng-click="editProperty(property)">
                                                                {{property.propertyValue}}
                                                            </td>
                                                            <td class="col-xs-1">
                                                                <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#deleteProperty{{property.id}}"><i class="fa fa-trash-o"></i></button>
                                                                <div class="modal hmodal-success" id="deleteProperty{{property.id}}" tabindex="-1" role="dialog"  aria-hidden="true">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="color-line"></div>
                                                                            <div class="modal-header">
                                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                                <h4 class="modal-title">Delete</h4>
                                                                                <small class="font-bold"></small>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <form class="form-horizontal" role="form">
                                                                                    <div class="form-group">
                                                                                        <div class="col-sm-12  col-md-12">
                                                                                            <span>Want to delete ?</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <div class="col-sm-12">
                                                                                    <button type="button" class="btn btn-primary btn-xs " 
                                                                                            ng-click="deleteProperty(property, $index)" 
                                                                                            data-dismiss="modal">
                                                                                        <span class="fa fa-trash"></span> Yes
                                                                                    </button>
                                                                                    <button type="button" class="btn btn-danger btn-xs " 
                                                                                            data-dismiss="modal">
                                                                                        <span class="fa fa-times"></span> No
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div ng-show="showEditPage" class="col-md-12">
                                                <form class="form-horizontal">
                                                    <div class="form-group">
                                                        <label class="col-sm-2">Name</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" ng-model="property.propertyName" placeholder="Name">
                                                        </div>

                                                        <!--                                                        <label class="col-sm-2">Account Name</label>
                                                                                                                <div class="col-sm-4">
                                                                                                                    <input type="text" class="form-control" ng-model="property.accountId" placeholder="Name">
                                                                                                                    <select class="form-control" 
                                                                                                                            ng-options="account.accountName for account in accounts track by account.id" 
                                                                                                                            ng-model="property.accountId">
                                                                                                                        <option value="" selected="selected" ng-disabled="true">Choose one</option>
                                                                                                                    </select>
                                                                                                                </div>-->
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2">Value</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" ng-model="property.propertyValue" placeholder="Value">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2">Remark</label>
                                                        <div class="col-sm-10">
                                                            <textarea class="form-control" ng-model="property.propertyRemark" placeholder="Remark" rows="1" style="min-height: 100px;"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="pull-right">
                                                        <button class="btn btn-info" ng-click="saveProperty(property)">Save</button>
                                                        <button class="btn btn-warning" ng-click="clearProperty(property)">Cancel</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div ng-show="isSet(3)">
                                <section class="content">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <table class="table table-fixed">
                                                    <thead>
                                                        <tr>
                                                            <!--<th class="col-xs-4">Account Name</th>-->
                                                            <th class="col-xs-6">User Name</th>
                                                            <th class="col-xs-4">Status</th>
                                                            <th class="col-xs-2">
                                                                <button class="btn btn-success btn-xs" ng-click="addAccountUser()"><i class="fa fa-plus"></i></button>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody style="height:420px">
                                                        <tr ng-repeat="accountUser in accountUsers" ng-class="{'selectedTableRow':$index == selectedAccountUser}" ng-click="setAccountUserRow($index)">
                                                            <!--                                                            <td class="col-xs-4" ng-click="editAccountUser(accountUser)">
                                                                                                                            {{accountUser.accountId.accountName}}
                                                                                                                        </td>-->
                                                            <td class="col-xs-6 account-select2" ng-click="editAccountUser(accountUser)">
                                                                <div ng-hide="accountUser.isEdit">
                                                                    {{accountUser.userId.userName}}
                                                                </div>
                                                                <div ng-show="accountUser.isEdit">
                                                                    <ui-select ng-model="accountUser.userId" theme="select2" ng-disabled="disabled">
                                                                        <ui-select-match placeholder="Select User...">{{$select.selected.userName}}</ui-select-match>
                                                                        <ui-select-choices repeat="user in users | filter: $select.search">
                                                                            <span ng-bind-html="user.userName | highlight: $select.search"></span>
                                                                        </ui-select-choices>
                                                                    </ui-select>
                                                                </div>
                                                            </td>
                                                            <td class="col-xs-4" ng-click="editAccountUser(accountUser)">
                                                                <label class="switch_wrap col-sm-10" for="field{{accountUser.id}}">
                                                                    <input id="field{{accountUser.id}}" type="checkbox" ng-model="accountUser.status" ng-change="saveStatus(accountUser)" value="1" />
                                                                    <div class="switch switch-mini"><span class="bullet"></span></div>
                                                                </label>
                                                                <!--<i class="fa" ng-class="{'fa-times': !accountUser.status, 'text-danger':!accountUser.status, 'fa-circle': accountUser.status, 'text-success':accountUser.status}"></i>-->
                                                            </td>
                                                            <td class="col-xs-2">
                                                                <button ng-show="accountUser.isEdit" class="btn btn-default btn-xs" ng-click="saveAccountUser(accountUser); accountUser.isEdit = false;"><i class="fa fa-save"></i></button>
                                                                <button ng-show="accountUser.isEdit" class="btn btn-default btn-xs" ng-click="removeAccountUser($index)"><i class="fa fa-times"></i></button>
                                                                <button ng-hide="accountUser.isEdit" class="btn btn-default btn-xs" data-toggle="modal" data-target="#deleteAccountUser{{accountUser.id}}"><i class="fa fa-trash-o"></i></button>
                                                                <div class="modal hmodal-success" id="deleteAccountUser{{accountUser.id}}" tabindex="-1" role="dialog"  aria-hidden="true">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="color-line"></div>
                                                                            <div class="modal-header">
                                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                                <h4 class="modal-title">Delete</h4>
                                                                                <small class="font-bold"></small>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <form class="form-horizontal" role="form">
                                                                                    <div class="form-group">
                                                                                        <div class="col-sm-12  col-md-12">
                                                                                            <span>Want to delete ?</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <div class="col-sm-12">
                                                                                    <button type="button" class="btn btn-primary btn-xs " 
                                                                                            ng-click="deleteAccountUser(accountUser, $index)" 
                                                                                            data-dismiss="modal">
                                                                                        <span class="fa fa-trash"></span> Yes
                                                                                    </button>
                                                                                    <button type="button" class="btn btn-danger btn-xs " 
                                                                                            data-dismiss="modal">
                                                                                        <span class="fa fa-times"></span> No
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                
    </div>
</section>
