<style> 
    #editor {
        height: 300px;
    }   
    .table-fixed thead {
        width: 100%;
        border-bottom: none;
    }
    .table-fixed tbody {        
        height: 480px;
        overflow-y: auto !important;
        width: 100%;
    }
    .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
        display: block;
        overflow: hidden;
    }
    .table-fixed tr{
        cursor: pointer;
    }
    .table-fixed tbody td, .table-fixed thead > tr> th {
        float: left;
        border-bottom-width: 0;
    }
    .image-upload img{
        max-width: 150px;
        max-height: 125px;
        display: block;
        cursor: pointer;
    }
    .image-upload > input
    {
        display: none;
    }
    .switch_wrap input[type="checkbox"] {
        display: none;
    }

    .switch_wrap input[type="checkbox"]:checked + .switch {
        background-color: #6cbc43;
    }

    .switch_wrap input[type="checkbox"]:checked + .switch::before {
        display: block;
    }

    .switch_wrap input[type="checkbox"]:checked + .switch::after {
        display: none;
    }

    .switch_wrap input[type="checkbox"]:checked + .switch .bullet {
        left: 33px;
    }

    .switch_wrap .switch {
        position: relative;
        display: inline-block;
        width: 65px;
        height: 24px;
        line-height: 24px;
        margin-right: 1em;
        margin-top: -3px;
        vertical-align: middle;
        background-color: #c1272d;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgb(255,255,255);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgb(255,255,255);
    }

    .switch_wrap .switch::before,
    .switch_wrap .switch::after {
        content: 'ON';
        display: none;
        width: 50%;
        position: absolute;
        top: 0;
        font-size: 11px;
        font-weight: bold;
        color: white;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        text-align: center;
    }

    .switch_wrap .switch::after {
        content: 'OFF';
        display: block;
        right: 0;
    }

    .switch_wrap .switch .bullet {
        position: relative;
        display: block;
        width: 32px;
        height: 26px;
        top: -2px;
        left: -2px;
        background-color: #f0f0f0;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#e6e6e6));
        background-image: -webkit-linear-gradient(top, #f0f0f0, #e6e6e6);
        background-image: -moz-linear-gradient(top, #f0f0f0, #e6e6e6);
        background-image: -ms-linear-gradient(top, #f0f0f0, #e6e6e6);
        background-image: -o-linear-gradient(top, #f0f0f0, #e6e6e6);
        background-image: linear-gradient(top, #f0f0f0, #e6e6e6);
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 0 white inset, 0 1px 1px rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 0 white inset, 0 1px 1px rgba(0, 0, 0, 0.25);
        -webkit-transition: left 0.1s linear;
        -moz-transition: left 0.1s linear;
        -ms-transition: left 0.1s linear;
        -o-transition: left 0.1s linear;
        transition: left 0.1s linear;
    }

    .switch_wrap .switch .bullet::before,
    .switch_wrap .switch .bullet::after {
        content: '';
        display: block;
        height: 15px;
        width: 3px;
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -6px;
        border: 1px solid #cccccc;
        border-width: 0 1px;
        -webkit-box-shadow: 1px 0 0 white, 1px 0 0 white inset;
        box-shadow: 1px 0 0 white, 1px 0 0 white inset;
    }

    .switch_wrap .switch .bullet::after {
        margin-left: 2px;
    }
    
    .agencyImg-size{
        max-width: 30px !important;
    }
</style>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <section class="content-header">
                <h1 class="text-capitalize">Agency</h1>        
            </section>
        </div>
        <div class="col-md-4 data-search">
            <input type="text" class="form-control" ng-model="searchAgency" placeholder="Search...">
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-6">
                    <div>
                        <table class="table table-fixed">
                            <thead>
                                <tr>
                                    <th class="col-xs-5">Name</th>
                                    <th class="col-xs-6">Email</th>
                                    <th class="col-xs-1"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="agency in agencies| filter: searchAgency" ng-class="{'selectedTableRow':$index == selectedRow}">
                                    <td class="col-xs-5" ng-click="editAgency(agency, $index); agencyData()">
                                        {{agency.agencyName}}
                                    </td>
                                    <td class="col-xs-6" ng-click="editAgency(agency, $index); agencyData()">
                                        {{agency.email}}
                                    </td>
                                    <td class="col-xs-1s">
                                        <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#deleteAgency{{agency.id}}"><i class="fa fa-trash-o"></i></button>
                                        <div class="modal hmodal-success" id="deleteAgency{{agency.id}}" tabindex="-1" role="dialog"  aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="color-line"></div>
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Delete</h4>
                                                        <small class="font-bold"></small>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form class="form-horizontal" role="form">
                                                            <div class="form-group">
                                                                <div class="col-sm-12  col-md-12">
                                                                    <span>Want to delete ?</span>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="col-sm-12">
                                                            <button type="button" class="btn btn-primary btn-xs " 
                                                                    ng-click="deleteAgency(agency, $index)" 
                                                                    data-dismiss="modal">
                                                                <span class="fa fa-trash"></span> Yes
                                                            </button>
                                                            <button type="button" class="btn btn-danger btn-xs " 
                                                                    data-dismiss="modal">
                                                                <span class="fa fa-times"></span> No
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>  

                <div class="col-md-6">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li ng-class="{ active: isSetAgency(1) }">
                                <a href ng-click="setTabAgency(1)"> Details</a>
                            </li>
                            <li ng-class="{ active: isSetAgency(2) }">
                                <a href ng-click="setTabAgency(2)"> Licence
                                </a>
                            </li>
                            <li ng-class="{ active: isSetAgency(3) }">
                                <a href ng-click="setTabAgency(3)"> User
                                </a>
                            </li>
                            <li ng-class="{ active: isSetAgency(4) }">
                                <a href ng-click="setTabAgency(4)"> Product
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="row">
                        <div class="tab-content">
                            <div ng-show="isSetAgency(1)">
                                <section class="content">
                                    <div class="pull-right account-new">
                                        <button class="btn btn-success" ng-click="addAgency()">New</button>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <form class="form-horizontal">
                                                <div class="form-group">                                                    
                                                    <div class="col-sm-3">
                                                        <div class="image-upload">
                                                            <label for="file-input">
                                                                <img class="img-responsive img-thumbnail" ng-src="{{agency.logo}}"/>
                                                            </label>

                                                            <input id="file-input" type="file" ng-model-instant onchange="angular.element(this).scope().imageUpload(event)"/>
                                                        </div>
                                                    </div>
                                                    <label class="col-sm-3">Agency Name</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" ng-model="agency.agencyName" placeholder="Name">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2">Email</label>
                                                    <div class="col-sm-10">
                                                        <input type="email" class="form-control" ng-model="agency.email" placeholder="Email">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2">Description</label>
                                                    <div class="col-sm-10">
                                                        <textarea class="form-control" ng-model="agency.description" placeholder="Description" rows="1" style="min-height: 100px;"></textarea>
                                                    </div>
                                                </div>
                                                <div class="pull-right">
                                                    <button class="btn btn-info" ng-click="saveAgency(agency)">Save</button>
                                                    <button class="btn btn-warning" ng-click="clearAgency(agency)">Cancel</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div ng-show="isSetAgency(2)">
                                <section class="content">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <form class="form-horizontal">
                                                    <div class="form-group">
                                                        <label class="col-sm-6">Number Of Tabs</label>
                                                        <div class="col-sm-6">
                                                            <input class="form-control" type="text" ng-model="agencyLicence.maxNoTab">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6">Number Of Users</label>
                                                        <div class="col-sm-6">
                                                            <input class="form-control" type="text" ng-model="agencyLicence.maxNoUser">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6">Number Of Clients</label>
                                                        <div class="col-sm-6">
                                                            <input class="form-control" type="text" ng-model="agencyLicence.maxNoClient">
                                                        </div>
                                                    </div>                                            
                                                    <div class="form-group">
                                                        <label class="col-sm-6">Number Of Accounts</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" ng-model="agencyLicence.maxNoAccount">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6">Expiry Date</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" date-Picker class="form-control" ng-model="agencyLicence.expiryDate">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6">Number Of Widgets Per Tabs</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" ng-model="agencyLicence.maxNoWidgetPerTab">
                                                        </div>
                                                    </div>
                                                    <div class="form-group pull-right">
                                                        <button class="btn btn-info" ng-click="saveAgencyLicence(agencyLicence)">Save</button>
                                                        <!--<button class="btn btn-warning" ng-click="clearAgencyLicence(agencyLicence)">Cancel</button>-->
                                                    </div>
                                                </form>
                                            </div>                                           
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div ng-show="isSetAgency(3)">
                                <section class="content" ng-hide="showAgencyUserForm">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <table class="table table-fixed">
                                                    <thead>
                                                        <tr>
                                                            <!--<th class="col-xs-4">Account Name</th>-->
                                                            <th class="col-xs-6">User Name</th>
                                                            <th class="col-xs-4">Email</th>
                                                            <th class="col-xs-2">
                                                                <button class="btn btn-success btn-xs" ng-click="addAgencyUser()"><i class="fa fa-plus"></i></button>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody style="height:420px">
                                                        <tr ng-repeat="agencyUser in agencyUsers" ng-class="{'selectedTableRow':$index == selectedAccountUser}" ng-click="setAccountUserRow($index)">
                                                            <td class="col-xs-6">{{agencyUser.userName}}</td>
                                                            <td class="col-xs-4">{{agencyUser.email}}</td>
                                                            <td class="col-xs-2"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>                                                
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section class="content" ng-show="showAgencyUserForm">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <section class="content">                                                   
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <form class="form-horizontal">
                                                                <div class="form-group">
                                                                    <label>First Name</label>
                                                                    <input class="form-control" type="text" ng-model="agencyUser.firstName" placeholder="First Name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Last Name</label>
                                                                    <input class="form-control" type="text" ng-model="agencyUser.lastName" placeholder="Last Name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>User Name</label>
                                                                    <input class="form-control" type="text" ng-model="agencyUser.userName" placeholder="User Name">
                                                                </div>                                            
                                                                <div class="form-group">
                                                                    <label>Email</label>
                                                                    <input type="email" class="form-control" ng-model="agencyUser.email" placeholder="Email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Password</label>
                                                                    <input type="password" class="form-control" ng-model="agencyUser.password" placeholder="Password">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Primary Phone</label>
                                                                    <input type="text" class="form-control" ng-model="agencyUser.primaryPhone" placeholder="Primary Phone">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Secondary Phone</label>
                                                                    <input type="text" class="form-control" ng-model="agencyUser.secondaryPhone" placeholder="Secondary Phone">
                                                                </div>
                                                                <div class="form-group pull-right">
                                                                    <button class="btn btn-info" ng-click="saveAgencyUser(agencyUser)">Save</button>
                                                                    <button class="btn btn-warning" ng-click="clearAgencyUser(agencyUser)">Cancel</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </section>                                               
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div ng-show="isSetAgency(4)">
                                <section class="content" ng-hide="showAgencyProductForm">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <table class="table table-fixed">
                                                    <thead>
                                                        <tr>
                                                            <!--<th class="col-xs-4">Account Name</th>-->
                                                            <th class="col-xs-4">Icon</th>
                                                            <th class="col-xs-6">Product Name</th>
                                                            <th class="col-xs-2">
                                                                <button class="btn btn-success btn-xs" ng-click="addAgencyProduct()"><i class="fa fa-plus"></i></button>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody style="height:420px">
                                                        <tr ng-repeat="agencyProduct in agencyProducts" ng-class="{'selectedTableRow':$index == selectedAccountUser}" ng-click="setAccountUserRow($index)">
                                                            <td class="col-xs-4">
                                                                <div class="image-upload">
                                                                    <label for="file-input">
                                                                        <img class="agencyImg-size img-responsive img-thumbnail" ng-src="{{agencyProduct.icon}}"/>
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td class="col-xs-6">{{agencyProduct.productName}}</td>
                                                            <td class="col-xs-2"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>                                                
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section class="content" ng-show="showAgencyProductForm">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <section class="content">
                                                    <div class="pull-right account-new">
                                                        <button class="btn btn-success" ng-click="addAgencyProduct()">New</button>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <form class="form-horizontal">
                                                                <div class="form-group">                                                    
                                                                    <div class="col-sm-3">
                                                                        <div class="image-upload">
                                                                            <label for="file-input1">
                                                                                <img class="img-responsive img-thumbnail" ng-src="{{agencyProduct.icon}}"/>
                                                                            </label>
                                                                            <input id="file-input1" type="file" ng-model-instant onchange="angular.element(this).scope().productIcon(event)"/>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="col-sm-2">Product Name</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" class="form-control" ng-model="agencyProduct.productName" placeholder="Product Name">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-2">Show Product</label>
                                                                    <div class="col-sm-10">
                                                                        <label class="switch_wrap col-sm-10" for="field{{agencyProduct.id}}">
                                                                            <input id="field{{agencyProduct.id}}" type="checkbox" ng-model="agencyProduct.showProduct" value="1" />
<!--                                                                            <input id="field{{agencyProduct.id}}" type="checkbox" ng-model="agencyProduct.showProduct" ng-change="saveStatus(accountUser)" value="1" />-->
                                                                            <div class="switch switch-mini"><span class="bullet"></span></div>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="pull-right">
                                                                    <button class="btn btn-info" ng-click="saveAgencyProduct(agencyProduct)">Save</button>
                                                                    <button class="btn btn-warning" ng-click="clearAgencyProduct(agencyProduct)">Cancel</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </section>                                              
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                
    </div>
</section>
