<style> 
    #editor {
        height: 300px;
    }   
    .as-sortable-item {
        display: flex !important;
    }
    *.unselectable {
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .table-fixed thead {
        width: 100%;
        border-bottom: none;
    }
    .table-fixed tbody {
        /*height: 430px;*/
        /*overflow-y: auto !important;*/
        width: 100%;
    }

    .table-fixed tbody td, .table-fixed thead > tr> th {
        float: left;
        border-bottom-width: 0;
    }
    .table-fixed tr td {
        cursor:pointer;
    }

    .image-upload img{
        width: 100px;
        display: block;
        cursor: pointer;
    }
    .image-upload > input
    {
        display: none;
    }

    .table-fixed tbody {
        /*        height:50vh;
                min-height:50vh;*/
    }

    .agencyImg-size{
        max-width: 30px !important;
    }

    .agency-bt {
        margin-bottom: 10px;
    }
    .nav-tabs-custom {
        padding-top: 0px;
        padding-bottom: 10px;
    }
    .hpanel .panel-body {
        border: 1px solid #e4e5e7;
    }
    .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
        display: block;
    }
    .license label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 3px;
        font-weight: bold;
        font-size: 11px;
    }

    .license .form-control {
        display: block;
        width: 100%;
        height: 30px;
        padding: 6px 12px;
        font-size: 12px;
    }

</style>
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body header-title">
            <div id="hbreadcrumb" class="pull-right">
            </div>
            <h2 class="font-bold m-b-xs ng-binding">
                Agency
            </h2>               
        </div>
    </div>
</div>
<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li ng-class="{ active: isSetAgency(1) }">
                <a href ng-click="setTabAgency(1)"> Details</a>
            </li>
            <li ng-class="{ active: isSetAgency(2) }">
                <a href ng-click="setTabAgency(2)"> Licence
                </a>
            </li>
            <li ng-class="{ active: isSetAgency(3) }">
                <a href ng-click="setTabAgency(3)"> User
                </a>
            </li>
            <li ng-class="{ active: isSetAgency(4) }">
                <a href ng-click="setTabAgency(4)"> Product
                </a>
            </li>

            <!--   currency-format-->
            <li ng-class="{ active: isSetAgency(5) }">
                <a href ng-click="setTabAgency(5)"> Settings
                </a>
            </li>  
            <li ng-class="{ active: isSetAgency(6) }">
                <a href ng-click="setTabAgency(6)"> Property
                </a>
            </li>  
            <!--   currency-format-->
        </ul>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="hpanel">                
                <div class="panel-body">

                    <div class="tab-content">
                        <div ng-show="isSetAgency(1)" class="license">
                            <div class="col-md-12">
                                <form class="form-horizontal" novalidate name="setAgency">
                                    <div class="form-group">
                                        <div class="row col-md-4 image-upload">
                                            <label for="file-input">
                                                <img class="img-responsive img-thumbnail" ng-src="{{agency.logo}}"/>
                                            </label>

                                            <input id="file-input" type="file" ng-model-instant onchange="angular.element(this).scope().imageUpload(event)"/>
                                        </div>
                                        <div class="pull-right account-new">
                                            <button class="btn btn-success" ng-click="addAgency()">New</button>
                                        </div>
                                    </div>

                                    <div class="form-group"> 
                                        <label>Agency Name</label>
                                        <div>
                                            <input type="text" class="form-control" ng-model="agency.agencyName" placeholder="Name">
                                        </div>
                                    </div>

                                    <div class="form-group"> 
                                        <label>Dashience Domain Name</label>
                                        <div> 

                                            <input type="text" name="domain" id="domain" class="form-control" ng-pattern="/^[a-zA-Z]*$/" ng-model="agency.agencyDashiencePath" placeholder="Domain Name">
                                            <span class="text-danger"  ng-show="setAgency.domain.$error.pattern">
                                                Not a Valid Domain Name</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Email</label>
                                        <div>
                                            <input type="email" class="form-control" ng-model="agency.email" placeholder="Email">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label>Language</label>
                                        <div>                                            
                                            <select class="form-control" ng-model="agency.agencyLanguage" ng-options="language.lanName for language in languages"></select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Description</label>
                                        <div>
                                            <textarea class="form-control" ng-model="agency.description" placeholder="Description" rows="1" style="min-height: 100px;"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group pull-right">
                                        <button class="btn btn-info" ng-disabled="myForm.domain.$error.pattern" ng-click="saveAgency(agency)">Save</button>
                                        <button class="btn btn-warning" ng-click="clearAgency(agency)">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div ng-show="isSetAgency(2)" class="license">
                            <div class="col-md-12">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label>Number Of Tabs</label>
                                        <div>
                                            <input class="form-control" type="text" ng-model="agencyLicence.maxNoTab">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Number Of Users</label>
                                        <div>
                                            <input class="form-control" type="text" ng-model="agencyLicence.maxNoUser">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Number Of Clients</label>
                                        <div>
                                            <input class="form-control" type="text" ng-model="agencyLicence.maxNoClient">
                                        </div>
                                    </div>                                            
                                    <div class="form-group">
                                        <label>Number Of Accounts</label>
                                        <div>
                                            <input type="text" class="form-control" ng-model="agencyLicence.maxNoAccount">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Expiry Date</label>
                                        <div>
                                            <input type="text" date-Picker class="form-control" ng-model="agencyLicence.expiryDate">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Number Of Widgets Per Tabs</label>
                                        <div>
                                            <input type="text" class="form-control" ng-model="agencyLicence.maxNoWidgetPerTab">
                                        </div>
                                    </div>
                                    <div class="form-group pull-right">
                                        <button class="btn btn-info" ng-click="saveAgencyLicence(agencyLicence)">Save</button>
                                        <!--<button class="btn btn-warning" ng-click="clearAgencyLicence(agencyLicence)">Cancel</button>-->
                                    </div>
                                </form>
                            </div> 
                        </div>
                        <div ng-show="isSetAgency(3)" class="license">
                            <section ng-hide="showAgencyUserForm">
                                <div class="col-md-12">
                                    <table class="table table-responsive table-fixed">
                                        <thead>
                                            <tr>
                                                <!--<th class="col-xs-4">Account Name</th>-->
                                                <th class="col-xs-6">User Name</th>
                                                <th class="col-xs-4">Email</th>
                                                <th class="col-xs-2">
                                                    <button class="btn btn-success btn-xs" ng-click="addAgencyUser()"><i class="fa fa-plus"></i></button>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="accountUser-Table" ng-repeat="agencyUser in agencyUsers" ng-class="{'selectedTableRow':$index == selectedAccountUser}" ng-click="setAccountUserRow($index)">
                                                <td class="col-xs-6">{{agencyUser.userName}}</td>
                                                <td class="col-xs-4">{{agencyUser.email}}</td>
                                                <td class="col-xs-2"></td>
                                            </tr>
                                        </tbody>
                                    </table>                                                
                                </div>
                            </section>
                            <section ng-show="showAgencyUserForm" class="license">
                                <div class="col-md-12">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label>First Name</label>
                                            <input class="form-control" type="text" ng-model="agencyUser.firstName" placeholder="First Name">
                                        </div>
                                        <div class="form-group">
                                            <label>Last Name</label>
                                            <input class="form-control" type="text" ng-model="agencyUser.lastName" placeholder="Last Name">
                                        </div>
                                        <div class="form-group">
                                            <label>User Name</label>
                                            <input class="form-control" type="text" ng-model="agencyUser.userName" placeholder="User Name">
                                        </div>                                            
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control" ng-model="agencyUser.email" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <label>Password</label>
                                            <div class="input-group">
                                                <input type="password" class="form-control" ng-model="agencyUser.password" id="password" name="password" placeholder="Password">
                                                <span class="input-group-addon">
                                                    <i show-password class="fa fa-eye-slash" style="cursor: pointer" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                            <!--                                                    <label>Password</label>
                                                                                                <input type="password" class="form-control" ng-model="agencyUser.password" placeholder="Password">-->
                                        </div>
                                        <div class="form-group">
                                            <label>Primary Phone</label>
                                            <input type="text" class="form-control" ng-model="agencyUser.primaryPhone" placeholder="Primary Phone">
                                        </div>
                                        <div class="form-group">
                                            <label>Secondary Phone</label>
                                            <input type="text" class="form-control" ng-model="agencyUser.secondaryPhone" placeholder="Secondary Phone">
                                        </div>
                                        <div class="form-group pull-right">
                                            <button class="btn btn-info" ng-click="saveAgencyUser(agencyUser)">Save</button>
                                            <button class="btn btn-warning" ng-click="clearAgencyUser(agencyUser)">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </section>
                        </div>
                        <div ng-show="isSetAgency(4)" class="license">
                            <section ng-hide="showAgencyProductForm">

                                <div class="col-md-12">
                                    <table class="table table-responsive table-fixed">
                                        <thead>
                                            <tr>
                                                <!--<th class="col-xs-4">Account Name</th>-->
                                                <th class="col-xs-4">Icon</th>
                                                <th class="col-xs-6">Product Name</th>
                                                <th class="col-xs-2">
                                                    <button class="btn btn-success btn-xs" ng-click="addAgencyProduct()"><i class="fa fa-plus"></i></button>
                                                </th>
                                            </tr>
                                        </thead>                                           
                                        <tbody data-as-sortable="" data-ng-model="agencyProducts" unselectable="on" ng-mouseleave="changeOrder(agencyProducts)" class="unselectable" style="height:420px">
                                            <tr class="accountUser-Table" ng-repeat="agencyProduct in agencyProducts" ng-class="{'selectedTableRow':$index == selectedAgencyProduct}" ng-click="setAgencyProductRow(agencyProduct, $index)" data-as-sortable-item>
                                                <td ng-click="editAgencyProduct(agencyProduct)" data-as-sortable-item-handle class="col-xs-4">
                                                    <div class="image-upload">
                                                        <label for="file-input">
                                                            <img class="agencyImg-size img-responsive img-thumbnail" ng-src="{{agencyProduct.icon}}"/>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td ng-click="editAgencyProduct(agencyProduct)" data-as-sortable-item-handle class="col-xs-6">
                                                    {{agencyProduct.productName}}
                                                </td>
                                                <td data-as-sortable-item-handle class="col-xs-2">
                                                    <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#deleteAgencyProduct{{agencyProduct.id}}">
                                                        <i class="fa fa-trash"></i>
                                                    </button>

                                                    <div class="modal hmodal-success" id="deleteAgencyProduct{{agencyProduct.id}}" tabindex="-1" role="dialog"  aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="color-line"></div>
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                    <h4 class="modal-title">Delete</h4>
                                                                    <small class="font-bold"></small>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form class="form-horizontal" role="form">
                                                                        <div class="form-group">
                                                                            <div class="col-sm-12  col-md-12">
                                                                                <span>Want to delete ?</span>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <div class="col-sm-12">
                                                                        <button type="button" class="btn btn-primary btn-xs " 
                                                                                ng-click="deleteAgencyProduct(agencyProduct, $index)" 
                                                                                data-dismiss="modal">
                                                                            <span class="fa fa-trash"></span> Yes
                                                                        </button>
                                                                        <button type="button" class="btn btn-danger btn-xs " 
                                                                                data-dismiss="modal">
                                                                            <span class="fa fa-times"></span> No
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>                                                
                                </div>
                            </section>
                            <section ng-show="showAgencyProductForm" class="license">
                                <div class="col-md-12">
                                    <form class="form-horizontal">
                                        <div class="form-group">                                                    

                                            <div class="row col-md-4 image-upload">
                                                <label for="file-input1">
                                                    <img class="img-responsive img-thumbnail" ng-src="{{agencyProduct.icon}}"/>
                                                </label>
                                                <input id="file-input1" type="file" ng-model-instant onchange="angular.element(this).scope().productIcon(event)"/>
                                            </div>

                                            <div class="pull-right account-new">
                                                <button class="btn btn-success" ng-click="addAgencyProduct()">New</button>
                                            </div>

                                        </div>
                                        <div>
                                            <span class="text-danger">{{productIconEmptyMessage}}</span>
                                        </div>
                                        <div class="form-group">
                                            <label>Product Name</label>
                                            <div>
                                                <input type="text" class="form-control" ng-model="agencyProduct.productName" placeholder="Product Name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <label>Show Product</label>
                                                <div class="checkbox-slider--b">
                                                    <label class="col-sm-10" for="field{{agencyProduct.id}}">
                                                        <input id="field{{agencyProduct.id}}" type="checkbox" ng-model="agencyProduct.showProduct" value="1" />
                                                        <!--                                                                            <input id="field{{agencyProduct.id}}" type="checkbox" ng-model="agencyProduct.showProduct" ng-change="saveStatus(accountUser)" value="1" />-->
                                                        <span class="bullet"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Select Template</label>
                                                <select class="form-control" 
                                                        ng-model="agencyProduct.templateId" 
                                                        ng-options="template.templateName for template in templates track by template.id">
                                                </select>
                                                <!--                                            <select class="form-control" ng-model="agencyProduct.template">
                                                                                                <option ng-repeat="template in templates" value="{{template.id}}">{{template.templateName}}</option>
                                                                                            </select>-->
                                            </div>
                                        </div>
                                        <div class="form-group pull-right">
                                            <button class="btn btn-info" ng-click="saveAgencyProduct(agencyProduct)">Save</button>
                                            <button class="btn btn-warning" ng-click="clearAgencyProduct(agencyProduct)">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </section>
                        </div>

                        <!--   currency-format-->
                        <div ng-show="isSetAgency(5)" class="license">
                            <div class="col-md-12">

                                <form class="form-horizontal">
                                    <div class="form-group" data-ng-init="getCurrencyDataFromServer()">
                                        <label>Currency</label>
                                        <select class="form-control" ng-model="agencySetting.currencyId" ng-options="(currency.nation + ' - ' + currency.currencyCode) for currency in currencies track by currency.id"></select>
                                    </div>
                                    <div class="form-group">
                                        <label>TimeZone</label>
                                        <select class="form-control" 
                                                ng-model="agencySetting.timeZoneId" 
                                                ng-options="(timezone.longName + ' - ' + timezone.shortDescription + '(' + timezone.description + ')' + ' - ' + timezone.relativeToGMT) for timezone in timezones track by timezone.id"></select>
                                    </div>
                                    <div class="form-group pull-right">
                                        <button class="btn btn-info" ng-click="saveAgencySettings(agencySetting)">Save</button>
                                    </div>
                                </form>
                            </div> 
                        </div> 

                        <div ng-show="isSetAgency(6)" class="license">
                            <div class="col-md-12">
                                <section ng-hide="showAgencyPropertyForm">
                                    <div class="col-md-12">
                                        <table class="table table-responsive table-fixed">
                                            <thead>
                                                <tr>
                                                    <th class="col-xs-4">Name</th>
                                                    <th class="col-xs-5">Value</th>
                                                    <th class="col-xs-3">
                                                        <button class="btn btn-success btn-xs" ng-click="addAgencyProperties()"><i class="fa fa-plus"></i></button>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="accountUser-Table" ng-repeat="agencyProperty in agencyProperties" ng-class="{'selectedTableRow':$index == selectedAccountProperties}" ng-click="setPropertiesRow($index)">
                                                    <td class="col-xs-4">
                                                        <div ng-hide="agencyProperty.isEdit"> 
                                                            {{agencyProperty.propertyName}}
                                                        </div>
                                                        <div ng-show="agencyProperty.isEdit">
                                                            <input type="text" class="form-control" ng-model="agencyProperty.propertyName">
                                                        </div>
                                                    </td>
                                                    <td class="col-xs-5">
                                                        <div ng-hide="agencyProperty.isEdit"> 
                                                            {{agencyProperty.propertyValue}}
                                                        </div>
                                                        <div ng-show="agencyProperty.isEdit">
                                                            <input type="text" class="form-control" ng-model="agencyProperty.propertyValue">
                                                        </div>
                                                    </td>
                                                    <td class="col-xs-3">
                                                        <div ng-show="agencyProperty.isEdit">
                                                            <button class="btn btn-default btn-xs" ng-click="saveAgencyProperty(agencyProperty); agencyProperty.isEdit = false;">
                                                                <i class="fa fa-save"></i>
                                                            </button>                                                            
                                                        </div> 
                                                        <div ng-hide="agencyProperty.isEdit">
                                                            <button class="btn btn-default btn-xs" ng-click="agencyProperty.isEdit = true;">
                                                                <i class="fa fa-pencil"></i>
                                                            </button>
                                                            <button class="btn btn-default btn-xs" ng-click="deleteAgencyProperty(agencyProperty,$index)">
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>                                                
                                    </div>
                                </section>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="hpanel">                
                <div class="panel-body">
                    <div class="row">
                        <div class="data-search col-sm-12">
                            <input type="text" class="form-control" ng-model="searchAgency" placeholder="Search...">
                        </div>
                        <!--  <div class="col-sm-4">
                                    <ui-select multiselect ng-model="agencyName" theme="select2" ng-disabled="disabled" on-select="searchAgencyDetails(agencyName)" style="min-width:225px;">
                                             <ui-select-match placeholder="Search Agency Name...">
                                                    {{$select.selected.agencyName}}
                                                        </ui-select-match>
                                                           <ui-select-choices repeat="agency in agencies | filter: $select.search">                                
                                                               <div ng-bind-html="agency.agencyName | highlight: $select.search" style="display: inline">
                                                                </div>                                
                                                             </ui-select-choices>
                                                                 </ui-select>
                                </div>-->
                    </div>
                    <table class="table table-responsive table-fixed">
                        <thead>
                            <tr>
                                <th class="col-xs-3">Name</th>
                                <th class="col-xs-4">Email</th>
                                <th class="col-xs-4">Dashience Domain Name</th>
                                <th class="col-xs-1"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr class="accountUser-Table" data-dir-paginate="agency in agencies| filter: searchAgency| filter: searchAgencyItem.agencyName| itemsPerPage:10:'myPagedItems'"  data-pagination-id="myPagedItems" ng-class="{'selectedTableRow':$index == selectedRow}">
                                <!--<tr ng-repeat="agency in agencies| filter: searchAgency" ng-class="{'selectedTableRow':$index == selectedRow}">-->
                                <td class="col-xs-3" ng-click="editAgency(agency, $index)">
                                    {{agency.agencyName}}
                                </td>
                                <td class="col-xs-4" ng-click="editAgency(agency, $index)">
                                    {{agency.email}}
                                </td>
                                <td class="col-xs-4" ng-click="editAgency(agency, $index)">
                                    {{agency.agencyDashiencePath}}
                                </td>
                                <td class="col-xs-1">
                                    <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#deleteAgency{{agency.id}}"><i class="fa fa-trash-o"></i></button>
                                    <div class="modal hmodal-success" id="deleteAgency{{agency.id}}" tabindex="-1" role="dialog"  aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="color-line"></div>
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Delete</h4>
                                                    <small class="font-bold"></small>
                                                </div>
                                                <div class="modal-body">
                                                    <form class="form-horizontal" role="form">
                                                        <div class="form-group">
                                                            <div class="col-sm-12  col-md-12">
                                                                <span>Want to delete ?</span>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="col-sm-12">
                                                        <button type="button" class="btn btn-primary btn-xs " 
                                                                ng-click="deleteAgency(agency, $index)" 
                                                                data-dismiss="modal">
                                                            <span class="fa fa-trash"></span> Yes
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-xs " 
                                                                data-dismiss="modal">
                                                            <span class="fa fa-times"></span> No
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls data-pagination-id="myPagedItems" data-template-url="static/views/reports/pagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>
        </div>  
    </div>
</section>
