<section class="content">
    <div class="row">
        <div class="col-md-4 data-search">
            <input type="text" class="form-control" ng-model="searchProperty" placeholder="Search...">
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-6 pull-left">
                    <div>
                        <table class="table table-fixed">
                            <thead>
                                <tr>
                                    <th class="col-xs-4">Name</th>
                                    <th class="col-xs-4">Account Name</th>
                                    <th class="col-xs-3">Value</th>
                                    <th class="col-xs-1"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="property in properties" ng-class="{'selectedTableRow':$index == selectedRows}" ng-click="setPropertyRow($index)">
                                    <td class="col-xs-4" ng-click="editProperty(property)">
                                        {{property.propertyName}}
                                    </td>
                                    <td class="col-xs-4" ng-click="editProperty(property)">
                                        {{property.accountId.accountName}}
                                    </td>
                                    <td class="col-xs-3" ng-click="editProperty(property)">
                                        {{property.propertyValue}}
                                    </td>
                                    <td class="col-xs-1">
                                        <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#deleteProperty{{property.id}}"><i class="fa fa-trash-o"></i></button>
                                        <div class="modal hmodal-success" id="deleteProperty{{property.id}}" tabindex="-1" role="dialog"  aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="color-line"></div>
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Delete</h4>
                                                        <small class="font-bold"></small>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form class="form-horizontal" role="form">
                                                            <div class="form-group">
                                                                <div class="col-sm-12  col-md-12">
                                                                    <span>Want to delete ?</span>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="col-sm-12">
                                                            <button type="button" class="btn btn-primary btn-xs " 
                                                                    ng-click="deleteProperty(property, $index)" 
                                                                    data-dismiss="modal">
                                                                <span class="fa fa-trash"></span> Yes
                                                            </button>
                                                            <button type="button" class="btn btn-danger btn-xs " 
                                                                    data-dismiss="modal">
                                                                <span class="fa fa-times"></span> No
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2">Name</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="property.propertyName" placeholder="Name">
                            </div>

                            <label class="col-sm-2">Account Name</label>
                            <div class="col-sm-4">
                                <!--<input type="text" class="form-control" ng-model="property.accountId" placeholder="Name">-->
                                <select class="form-control" 
                                        ng-options="account.accountName for account in accounts track by account.id" 
                                        ng-model="property.accountId">
                                    <option value="" selected="selected" ng-disabled="true">Choose one</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Value</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="property.propertyValue" placeholder="Value">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Remark</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" ng-model="property.propertyRemark" placeholder="Remark" rows="1" style="min-height: 100px;"></textarea>
                            </div>
                        </div>
                        <div class="form-group pull-right">
                            <button class="btn btn-info" ng-click="saveProperty(property)">Save</button>
                            <button class="btn btn-warning" ng-click="clearProperty(property)">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>