<style>
    table{
        table-layout: fixed;
    }
    td{
        word-wrap:break-word
    }
</style>
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body header-title">
            <div id="hbreadcrumb" class="pull-right">
            </div>
            <h2 class="font-bold m-b-xs ng-binding" translate>
                Settings
            </h2>               
        </div>
    </div>
</div>

<section class="content">    
    <div class="row">
        <div class="col-lg-12 data-table-set">
            <div class="panel-group" id="accordion">
                <!--<button class="btn btn-success btn-xs" ng-click="addSettings()"><i class="fa fa-plus"></i></button>-->
                <div ng-hide="showSettings">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label translate>Group Name</label>
                            <div>
                                <input type="text" class="form-control" ng-model="settings.groupName" placeholder="{{'Group Name'|translate}}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate>Property Name</label>
                            <div>
                                <input type="text" class="form-control" ng-model="settings.propertyName" placeholder="{{'Property Name'|translate}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate>Property Type</label>
                            <div>
                                <input type="text" class="form-control" ng-model="settings.propertyType" placeholder="{{'Property Type'| translate}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate>Property Value</label>
                            <div>
                                <input type="text" class="form-control" ng-model="settings.propertyValue" placeholder="{{'Property Value'|translate}}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate>Remarks</label>
                            <div>
                                <textarea class="form-control" ng-model="settings.remarks" placeholder="{{'Remarks'|translate}}" rows="1" style="min-height: 100px;"></textarea>
                            </div>
                        </div>
                        <div class="form-group pull-right">
                            <button class="btn btn-info" ng-click="saveSettings(settings)" translate>Save</button>
                            <button class="btn btn-warning" ng-click="clearSettings()" translate>Cancel</button>
                        </div>
                    </form>
                </div>
                <div class="panel panel-default" ng-repeat="group in productArray" ng-show="showSettings">
                    <div class="panel-heading" style="background-color: white;border-bottom: 1px solid lightgray">

                        <h4 class="panel-title" ng-click="getGroupName(group, files)">
                            <i class="fa fa-plus-square-o" style="cursor: pointer;" data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index + 1}}"></i> 
                            {{group}}
                        </h4>
                    </div>
                    <div id="collapse{{$index + 1}}" class="panel-collapse collapse" style="border-bottom: 1px solid lightgray;">
                        <form name="myForm" novalidate>
                            <ul class="list-group">
                                <li  class="list-unstyled"> 
                                    <table class="table table-striped">
                                        <tr>
                                            <th translate>Property Name</th>
                                            <th translate>Property Value</th>
                                            <th translate>Action</th>
                                        </tr>
                                        <tbody>
                                            <tr ng-repeat="fileList in fileLists">
                                                <td>
                                                    <div>{{fileList.propertyName}}</div>                                   
                                                </td>
                                                <td>
                                                    <div ng-hide="fileList.isEdit">{{fileList.propertyValue}}</div>
                                                    <div ng-show="fileList.isEdit">                                                    
                                                        <div ng-if="fileList.propertyType === 'string'">
                                                            <input class="form-control" type="text" name="string{{$index + 1}}" ng-model="fileList.propertyValue">
                                                            <span style="color:red" ng-show="myForm.string{{$index + 1}}.$dirty && myForm.string{{$index + 1}}.$invalid">
                                                                <span ng-show="myForm.string{{$index + 1}}.$error.required" translate>String is required</span>
                                                            </span>
                                                        </div>

                                                        <div ng-if="fileList.propertyType === 'int'">
                                                            <input class="textbox-n form-control" placeholder="{{'number'|translate}}" name="int" ng-model="fileList.propertyValue" type="text" onfocus="(this.type = 'number')" onblur="(this.type = 'text')" id="number">
                                                            <span style="color:red" ng-show="myForm.int.$dirty && myForm.int.$invalid">
                                                                <span ng-show="myForm.int.$error.required" translate>Number is required</span>
                                                            </span>
                                                        </div>

                                                        <div ng-if="fileList.propertyType === 'email'">
                                                            <input class="form-control" type="email" name="email{{$index + 1}}" ng-model="fileList.propertyValue" required>
                                                            <span style="color:red" ng-show="myForm.email{{$index + 1}}.$dirty && myForm.email{{$index + 1}}.$invalid">
                                                                <span ng-show="myForm.email{{$index + 1}}.$error.required" translate>Email is required</span>
                                                            </span>
                                                        </div>

                                                        <div ng-if="fileList.propertyType === 'date'">
                                                            <input placeholder="{{'Date'|translate}}" name="date{{$index + 1}}" class="textbox-n form-control" ng-model="fileList.propertyValue" type="text" onfocus="(this.type = 'date')" onblur="(this.type = 'text')" id="date">
                                                            <span style="color:red" ng-show="myForm.date{{$index + 1}}.$dirty && myForm.date{{$index + 1}}.$invalid">
                                                                <span ng-show="myForm.date{{$index + 1}}.$error.required" translate>Date is required</span>
                                                            </span>
                                                        </div>

                                                        <div ng-if="fileList.propertyType === 'time'">
                                                            <input placeholder="{{'Time'|translate}}" name="time{{$index + 1}}" class="textbox-n form-control" ng-model="fileList.propertyValue" type="text" onfocus="(this.type = 'time')" onblur="(this.type = 'text')" id="time">
                                                            <span style="color:red" ng-show="myForm.time{{$index + 1}}.$dirty && myForm.time{{$index + 1}}.$invalid">
                                                                <span ng-show="myForm.time{{$index + 1}}.$error.required" translate>Time is required</span>
                                                            </span>
                                                        </div>

                                                        <div ng-if="fileList.propertyType === 'datetime'">
                                                            <input placeholder="{{'DateTime'|translate}}" name="datetime{{$index + 1}}" class="textbox-n form-control" ng-model="fileList.propertyValue" type="text" onfocus="(this.type = 'datetime-local')" onblur="(this.type = 'text')" id="datetime">
                                                            <span style="color:red" ng-show="myForm.datetime{{$index + 1}}.$dirty && myForm.datetime{{$index + 1}}.$invalid">
                                                                <span ng-show="myForm.datetime{{$index + 1}}.$error.required" translate>Datetime is required</span>
                                                            </span>
                                                        </div>

                                                        <div ng-if="fileList.propertyType === 'month'">
                                                            <input placeholder="{{'Month'|translate}}" name="month{{$index + 1}}" class="textbox-n form-control" ng-model="fileList.propertyValue" type="text" onfocus="(this.type = 'month')" onblur="(this.type = 'text')" id="month">
                                                            <span style="color:red" ng-show="myForm.month{{$index + 1}}.$dirty && myForm.month{{$index + 1}}.$invalid">
                                                                <span ng-show="myForm.month{{$index + 1}}.$error.required" translate>Month is required</span>
                                                            </span>
                                                        </div>

                                                        <div ng-if="fileList.propertyType === 'week'">
                                                            <input placeholder="{{'Week'|translate}}" name="week{{$index + 1}}" class="textbox-n form-control" ng-model="fileList.propertyValue" type="text" onfocus="(this.type = 'week')" onblur="(this.type = 'text')" id="week">
                                                            <span style="color:red" ng-show="myForm.week{{$index + 1}}.$dirty && myForm.week{{$index + 1}}.$invalid">
                                                                <span ng-show="myForm.week{{$index + 1}}.$error.required" translate>Week is required</span>
                                                            </span>
                                                        </div>

                                                        <div ng-if="fileList.propertyType === 'url'">
                                                            <input class="form-control" type="url" name="url{{$index + 1}}" ng-model="fileList.propertyValue" required>
                                                            <span style="color:red" ng-show="myForm.url{{$index + 1}}.$dirty && myForm.url{{$index + 1}}.$invalid">
                                                                <span ng-show="myForm.url{{$index + 1}}.$error.required" translate>Url is required</span>
                                                            </span>
                                                        </div>

                                                        <div ng-if="fileList.propertyType === 'range'">
                                                            <input class="form-control" type="range" name="range{{$index + 1}}" ng-model="fileList.propertyValue" required>
                                                            <span style="color:red" ng-show="myForm.range{{$index + 1}}.$dirty && myForm.range{{$index + 1}}.$invalid">
                                                                <span ng-show="myForm.range{{$index + 1}}.$error.required" translate>Range is required</span>
                                                            </span>
                                                        </div>

                                                    </div>
                                                </td>
                                                <td>
                                                    <div ng-show="fileList.isEdit">
                                                        <button class="btn btn-primary btn-xs" title="Save"
                                                                ng-click="saveSettings(fileList); fileList.isEdit = false;" 
                                                                ng-disabled="myForm.string{{$index + 1}}.$dirty && myForm.string{{$index + 1}}.$invalid || myForm.int{{$index + 1}}.$dirty && myForm.int{{$index + 1}}.$invalid || myForm.email{{$index + 1}}.$dirty && myForm.email{{$index + 1}}.$invalid || myForm.date{{$index + 1}}.$dirty && myForm.date{{$index + 1}}.$invalid || myForm.url{{$index + 1}}.$dirty && myForm.url{{$index + 1}}.$invalid || myForm.time{{$index + 1}}.$dirty && myForm.time{{$index + 1}}.$invalid || myForm.datetime{{$index + 1}}.$dirty && myForm.datetime{{$index + 1}}.$invalid || myForm.month{{$index + 1}}.$dirty && myForm.month{{$index + 1}}.$invalid || myForm.week{{$index + 1}}.$dirty && myForm.week{{$index + 1}}.$invalid || myForm.range{{$index + 1}}.$dirty && myForm.range{{$index + 1}}.$invalid">
                                                            <i class="fa fa-save"></i>
                                                        </button>
                                                    </div>

                                                    <div ng-hide="fileList.isEdit">
                                                        <button class="btn btn-primary btn-xs" title="Edit"
                                                                ng-click="fileList.isEdit = true;">
                                                            <i class="fa fa-pencil"></i>
                                                        </button>
                                                        <!--                                                        <button class="btn btn-default btn-xs" data-toggle="modal" 
                                                                                                                        data-target="#deletesettings{{fileList.id}}">
                                                                                                                    <i class="fa fa-trash-o"></i></button>-->

                                                    </div>
                                                    <!--                                                    <div id="deletesettings{{fileList.id}}" class="modal fade" role="dialog">
                                                                                                            <div class="modal-dialog">
                                                    
                                                                                                                 Modal content
                                                                                                                <div class="modal-content">
                                                                                                                    <div class="modal-header">
                                                                                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                                                                        <h4 class="modal-title">Modal Header</h4>
                                                                                                                    </div>
                                                                                                                    <div class="modal-body">
                                                                                                                        <p>Some text in the modal.</p>
                                                                                                                    </div>
                                                                                                                    <div class="modal-footer">
                                                                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                                                                    </div>
                                                                                                                </div>
                                                    
                                                                                                            </div>
                                                                                                        </div>-->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
