<nav class="navbar">
    <div class="navbar-header">
        <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
        <a href="javascript:void(0);" class="bars"></a>
        <a class="navbar-brand" href="index.html">
            <img ng-src="{{headerCtrl.properties.logo}}" width="120" class="dashience-logo" />
        </a>
        <a class="navbar-brand" href="index.html"><img src="static/images/coworkersllc.png" width="100" /></a>
    </div>
    <div class="container-fluid">
        <div class="block-header pull-left">
            <h2>{{headerCtrl.productName}}</h2>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right pull-right">
                <!-- Call Search -->
                <li>
                    <a class="demo-google-material-icon">
                        <i class="material-icons">refresh</i> 
                        <div class="caption">{{headerCtrl.properties.rightMenuOne}}</div>
                    </a>
                </li>
                <li>
                    <a class="demo-google-material-icon">
                        <i class="material-icons">print</i> 
                        <div class="caption">{{headerCtrl.properties.rightMenuTwo}}</div>
                    </a>
                </li>
                <li class="item-box-green">
                    <a class="demo-google-material-icon">
                        <i class="material-icons">add_circle_outline</i> 
                        <div class="caption">{{headerCtrl.properties.rightMenuThree}}</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
