<style>
    .select2 > .select2-choice.ui-select-match {
        height: 29px;
    }
    .selectize-control > .selectize-dropdown {
        top: 36px;
    }
    .select-box {
        background: #fff;
        position: relative;
        z-index: 1;
    }
    .alert-info.positioned {
        margin-top: 1em;
        position: relative;
        z-index: 10000;
    }

    .product-icon {
        width: 70px;
        margin: 0px auto;
    }

    .admin-fnt {
        font-size: 12px;
        padding-top: 20px;
        padding-left:5px;
        text-transform: capitalize;
    }
    .daterangepicker.dropdown-menu.ltr.show-calendar.opensright {
        display: none !important;
    }
    .logout{
        padding-left: 20px;
    }
    .navbar-nav > li, .navbar-nav > li > a{
        height: auto! important; 
    }
    .dropdownAccountCheckbox{
        min-height: 125px;
        overflow-y: auto;
        padding: 2px 5px;
    }
    .inputCheckbox{
        margin: 4px 3px 0px 4px !important;
        vertical-align: middle;

    }
    .dropdownDate{
        margin-top: 10px;
    }
</style>
<div class="fixed-navbar" ng-controller="HeaderController">
    <div id="logo">
        <span>
            <img src="static/img/logos/dashience-logo.jpg" width="80" />
        </span>
    </div>
    <div id="logo">
        <span>
            <img class="img-responsive img-thumbnail client-logo" ng-src="{{accountLogo}}" />
        </span>
    </div>
    <nav role="navigation">
        <div class="small-logo">
            <span>
                <img src="static/img/logos/dashience-logo.jpg" width="80" />
            </span>
        </div>
        <div class="small-logo">
            <span>
                <img class="img-responsive img-thumbnail client-logo" ng-src="{{accountLogo}}" width="100" />
            </span>
        </div>
        <nav class = "navbar-default" role = "navigation">
        </nav>
        <div class="navbar-right">
            <ul class="nav navbar-nav no-borders">
                <li class="dropdown">
                    <a class="pull-right" id="daterange-btn">
                        <span class="date-border">
                            {{firstDate| date: "MM/dd/yyyy"}} - {{lastDate| date: "MM/dd/yyyy"}} <i class="fa fa-caret-down"></i>
                        </span> 
                    </a>
                </li>
                <li class="dropdown go"><span class="label label-success" ng-click="loadNewUrl()">Go</span></li>
                <li class="dropdown">
                    <div class="dropdown dropdownDate">
                        <button class="btn btn-default dropdown-toggle dateDuration-Box" type="button" data-toggle="dropdown">
                            <span class="dateRange-Title">{{selectedAccountCount?selectedAccountCount+" ": 0+" "}}Account Selected</span>
                            <span class="caret dateRange-Title-Icon"></span>
                        </button>
                        <ul class="dropdown-menu dropdownAccountCheckbox">  
                            <div class="form-group">
                                <div class="form-group has-feedback">
                                    <input type="text" class="form-control" ng-model="search.$" placeholder="Search"/>
                                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                </div>
                            </div>
                            <li ng-repeat="allAccount in allAccounts| filter:search">
                                <input type="checkbox" class="inputCheckbox" ng-model="allAccount.selectAllGroup" ng-click="getSelectedAccounts(allAccount)">
                                <span ng-bind-html="allAccount.groupName | highlight:search.$"></span>
                                <ul>
                                    <li ng-repeat="account in allAccount.accounts">
                                        <input type="checkbox" class="inputCheckbox" ng-model="account.select" ng-true-value="true" ng-click="unSelectAccount(allAccount, account); getSelectedAccounts(account)">
                                        <span ng-bind-html="account.accountName | highlight:search.$"></span>
                                    </li>
                                </ul>
                            </li>
                            <div class="pull-right">
                                <button type="button" ng-click="goToSearchByAccountId()" class="btn btn-sm">Apply</button>
                            </div>
                        </ul>
                    </div>
                </li>
                <li class="dropdown">
                    <div class="dropdown dropdownDate">
                        <button class="btn btn-default dropdown-toggle dateDuration-Box" type="button" data-toggle="dropdown">
                            <span class="dateRange-Title">{{selectedAccountCount1?selectedAccountCount1+" ": 0+" "}}Account Selected</span>
                            <span class="caret dateRange-Title-Icon"></span>
                        </button>
                        <ul class="dropdown-menu dropdownAccountCheckbox">  
                            <div class="form-group">
                                <div class="form-group has-feedback">
                                    <input type="text" class="form-control" ng-model="search1.$" placeholder="Search"/>
                                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                </div>
                            </div>
                            <li ng-repeat="allAccount in allAccounts| filter:search1">
                                <input type="checkbox" class="inputCheckbox" ng-model="allAccount.selectAllGroup1" ng-click="getSelectedAccount1(allAccount)">
                                <span ng-bind-html="allAccount.groupName | highlight:search1.$"></span>
                                <ul>
                                    <li ng-repeat="account in allAccount.accounts">
                                        <input type="checkbox" class="inputCheckbox" ng-model="account.select1" ng-true-value="true" ng-click="unSelectAccount1(allAccount, account); getSelectedAccount1(account)">
                                        <span ng-bind-html="account.accountName | highlight:search1.$"></span>
                                    </li>
                                </ul>
                            </li>
                            <div class="pull-right">
                                <button type="button" ng-click="goToSearchByAccountId1()" class="btn btn-sm">Apply</button>
                            </div>
                        </ul>
                    </div>
                </li>
                
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="pe-7s-keypad"></i>
                    </a>
                    <div class="dropdown-menu hdropdown bigmenu animated flipInX">
                        <div class="col-lg-12 row">
                            <div ng-repeat="product in products| orderBy:'productOrder'">
                                <ul class="col-lg-3 icon-dash"  ng-if="product.showProduct == 1">
                                    <li class="product-dashboard-icon">
                                        <a class="active" ng-click="setParamsProduct(product)">
                                            <img class="product-icon img-responsive" ng-src="{{product.icon}}"/> 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clear">
                                <div ng-if="permission.createDataSource === true;">
                                    <ul class="col-lg-3 icon-dash">                                    
                                        <li class="product-dashboard-icon" ng-click="setParams()">
                                            <a data-ui-sref="index.dataSource({accountId: accountId, accountName: accountName, startDate: startDate, endDate: endDate})">
                                                <img src="static/img/logos/data-source.png" width="117">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div ng-if="permission.createDataSet === true;">
                                    <ul class="col-lg-3 icon-dash"> 
                                        <li class="product-dashboard-icon" ng-click="setParams()">
                                            <a data-ui-sref="index.dataSet({accountId: accountId, accountName: accountName, startDate: startDate, endDate: endDate})">
                                                <i class="fa fa-dashcube text-success"></i> <h5>Data Sets</h5>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div ng-if="isAdmin === 'admin'">
                                    <ul class="col-lg-3 icon-dash"> 
                                        <li class="product-dashboard-icon" ng-click="setParams()">
                                            <a data-ui-sref="index.agency({accountId: accountId, accountName: accountName, startDate: startDate, endDate: endDate})">
                                                <i class="fa fa-cog text-warning"></i> <h5>Agency</h5>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div ng-if="permission.createAccount === true;">
                                    <ul class="col-lg-3 icon-dash"> 
                                        <li class="product-dashboard-icon" ng-click="setParams()">
                                            <a data-ui-sref="index.account({accountId: accountId, accountName: accountName, startDate: startDate, endDate: endDate})">
                                                <i class="fa fa-cog text-warning"></i> <h5>Account</h5>
                                            </a>
                                        </li>
                                    </ul>
                                </div>  
                                <div ng-if="permission.createUser === true;">
                                    <ul class="col-lg-3 icon-dash"> 
                                        <li class="product-dashboard-icon" ng-click="setParams()">
                                            <a data-ui-sref="index.user({accountId: accountId, accountName: accountName, startDate: startDate, endDate: endDate})">
                                                <i class="fa fa-users text-info"></i> <h5>Users</h5>
                                            </a>
                                        </li>
                                    </ul>
                                </div>                                                              
                            </div>
                            <div class="clear">
                                <div ng-if="permission.viewReport === true;">
                                    <ul class="col-lg-3 icon-dash"> 
                                        <li class="product-dashboard-icon" ng-click="setParams()">
                                            <a data-ui-sref="index.report.reports({accountId: accountId, accountName: accountName, startDate: startDate, endDate: endDate})">
                                                <i class="fa fa-file-archive-o text-info" aria-hidden="true"></i> <h5> Reports</h5>
                                            </a>
                                        </li>
                                    </ul>
                                </div>                                                    
                                <div ng-if="permission.scheduleReport === true;">
                                    <ul class="col-lg-3 icon-dash"> 
                                        <li class="product-dashboard-icon" ng-click="setParams()">
                                            <a data-ui-sref="index.schedulerIndex.scheduler({accountId: accountId, accountName: accountName, startDate: startDate, endDate: endDate})">
                                                <i class="fa fa-clock-o text-danger" aria-hidden="true"></i> <h5> Scheduler</h5>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div ng-if="isAdmin === 'admin'">     
                                    <ul class="col-lg-3 icon-dash"> 
                                        <li class="product-dashboard-icon" ng-click="setParams()">
                                            <a data-ui-sref="index.fieldSettings({accountId: accountId, accountName: accountName, startDate: startDate, endDate: endDate})">
                                                <i class="fa fa-cog text-danger" aria-hidden="true"></i> <h5> Field Settings</h5>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div ng-if="isAdmin !== 'admin'">
                                    <ul class="col-lg-3 icon-dash"> 
                                        <li class="product-dashboard-icon" ng-click="setParams()">
                                            <a data-ui-sref="index.viewFavouritesWidget({accountId: accountId, accountName: accountName, productId: 0, favouriteName: 'Favourite', startDate: startDate, endDate: endDate})">
                                                <i class="fa fa-heart text-info" aria-hidden="true" style="font-size: 30px !important;"></i> <h5>Favourites</h5>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div ng-if="isAdmin !== 'admin'">
                                    <ul class="col-lg-3 icon-dash"> 
                                        <li class="product-dashboard-icon" ng-click="setParams()">
                                            <a data-ui-sref="index.settings({startDate: startDate, endDate: endDate})">
                                                <i class="fa fa-gear text-info" aria-hidden="true" style="font-size: 30px !important;"></i> <h5>Settings</h5>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i><span class="admin-fnt">{{userName}} / {{agencyId.agencyName}}</span></a>
                    <div class="dropdown-menu" ng-click="userLogout()" style="cursor:pointer">
                        <a class="logout">
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
