<style>
    .img-size{
        width:35px;
    }    
</style>


<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
            <div class="image">
                <img src="static/images/user.png" width="48" height="48" alt="User" />
            </div>
            <div class="info-container">
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">John Doe</div>
                <div class="email">Signed In</div>
                <div class="btn-group user-helper-dropdown">
                    <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                        <li role="seperator" class="divider"></li>
                        <li><a href="javascript:void(0);"><i class="material-icons">input</i>Sign Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="active">
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="material-icons col-light-blue">widgets</i>
                        <span>Dashboards</span>
                    </a>
                    <ul class="ml-menu">
                        <li ng-repeat="product in headerCtrl.products| orderBy:'productOrder'" ng-if="product.showProduct">
                            <a> 
                                <i class="col-amber">
                                    <img class="product-icon img-responsive img-size" ng-src="{{product.icon}}"/>
                                </i>
                                <span ng-click="headerCtrl.setParamsProduct(product)">{{product.productName}}</span></a>
                        </li>


                        <!--                        <li>
                                                         <a href="javascript:void(0);" class="menu-toggle">
                                                             <i class="material-icons col-light-blue">content_copy</i>
                                                             <span>Custom Dashboard</span>
                                                         </a>
                                                         <ul class="ml-menu">
                                                             <li>
                                                                 <a href="pages/widgets/infobox/infobox-1.html">Custom Dashboard-1</a>
                                                             </li>
                                                             <li>
                                                                 <a href="pages/widgets/infobox/infobox-2.html">Custom Dashboard-2</a>
                                                             </li>
                                                         </ul>
                                                     </li>-->
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="material-icons col-red">update</i>
                        <span>Reports</span>
                    </a>
                    <ul class="ml-menu">
                        <li ng-if="headerCtrl.authObj.permission.viewReport == true;" ng-click="headerCtrl.getProduct('Reports')">
                            <a data-ui-sref="index.report.reports({lan: headerCtrl.lan, accountId: headerCtrl.accountId, accountName: headerCtrl.accountName, startDate: headerCtrl.startDate, endDate: headerCtrl.endDate, compareStatus: headerCtrl.compareStatus, compareStartDate: headerCtrl.compareStartDate, compareEndDate: headerCtrl.compareEndDate})">
                                <i class="fa fa-file-archive-o text-info" aria-hidden="true"></i>
                                <span>Reports</span>
                            </a>
                        </li>
                        <li ng-if="headerCtrl.authObj.isAdmin == 'admin'" ng-click="headerCtrl.getProduct('Agency')">
                            <a data-ui-sref="index.agency({lan: lan, accountId: accountId, accountName: accountName, startDate: startDate, endDate: endDate, compareStatus: compareStatus, compareStartDate:compareStartDate, compareEndDate:compareEndDate})">
                                <i class="fa fa-cog text-warning"></i>
                                <span>Agency</span>
                            </a>
                        </li>
                        <li ng-if="headerCtrl.authObj.permission.scheduleReport === true;" ng-click="headerCtrl.getProduct('Scheduler')">
                            <a data-ui-sref="index.schedulerIndex.scheduler({lan: headerCtrl.lan, accountId: headerCtrl.accountId, accountName: headerCtrl.accountName, startDate: headerCtrl.startDate, endDate: headerCtrl.endDate, compareStatus: headerCtrl.compareStatus, compareStartDate: headerCtrl.compareStartDate, compareEndDate: headerCtrl.compareEndDate})">
                                <i class="fa fa-clock-o text-danger" aria-hidden="true"></i>
                                <span>Scheduler</span>
                            </a>
                        </li>
                        <li ng-if="headerCtrl.authObj.isAdmin !== 'admin'" ng-click="headerCtrl.getProduct('Favorites')">
                            <a data-ui-sref="index.viewFavouritesWidget({lan: headerCtrl.lan, accountId: headerCtrl.accountId, accountName: headerCtrl.accountName, productId: 0, favouriteName: 'Favourite', startDate: headerCtrl.startDate, endDate: headerCtrl.endDate, compareStatus: headerCtrl.compareStatus, compareStartDate: headerCtrl.compareStartDate, compareEndDate: headerCtrl.compareEndDate})">
                                <i class="fa fa-heart text-info" aria-hidden="true"></i>
                                <span>Favorites</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="material-icons col-amber">assignment</i>
                        <span>Add Data</span>
                    </a>

                    <ul class="ml-menu">

                        <li ng-if="headerCtrl.authObj.permission.createDataSource === true;" ng-click="headerCtrl.getProduct('DataSource')">
                            <a data-ui-sref="index.dataSource({lan: lan, accountId: accountId, accountName: accountName, startDate: startDate, endDate: endDate, compareStatus: compareStatus, compareStartDate:compareStartDate, compareEndDate:compareEndDate})">
                                <i class="fa fa-database datasource" aria-hidden="true"></i>
                                <span>DataSource</span>
                            </a>
                        </li>

                        <li ng-if="headerCtrl.authObj.permission.createDataSet === true;" ng-click="headerCtrl.getProduct('DataSets')">
                            <a data-ui-sref="index.dataSet({lan: lan, accountId: accountId, accountName: accountName, startDate: startDate, endDate: endDate, compareStatus: compareStatus, compareStartDate:compareStartDate, compareEndDate:compareEndDate})">
                                <i class="fa fa-dashcube text-success"></i>
                                <span>DataSets</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="material-icons col-light-blue">people</i>
                        <span>Settings</span>
                    </a>
                    <ul class="ml-menu">
                        <li ng-if="headerCtrl.authObj.permission.createAccount === true;" ng-click="headerCtrl.getProduct('Account')">
                            <a data-ui-sref="index.account({lan: lan, accountId: accountId, accountName: accountName, startDate: startDate, endDate: endDate, compareStatus: compareStatus, compareStartDate:compareStartDate, compareEndDate:compareEndDate})">
                                <i class="fa fa-cog text-warning"></i>
                                <span>Account</span>
                            </a>
                        </li>
                        <li ng-if="headerCtrl.authObj.permission.createUser === true;" ng-click="headerCtrl.getProduct('Users')">
                            <a data-ui-sref="index.user({lan: lan, accountId: accountId, accountName: accountName, startDate: startDate, endDate: endDate, compareStatus: compareStatus, compareStartDate:compareStartDate, compareEndDate:compareEndDate})">
                                <i class="fa fa-users text-info"></i>
                                <span>Users</span>
                            </a>
                        </li>
                        <li ng-if="headerCtrl.authObj.isAdmin === 'admin'" ng-click="headerCtrl.getProduct('Account Settings')">
                            <a data-ui-sref="index.settings({lan: lan, startDate: startDate, endDate: endDate, compareStatus: compareStatus, compareStartDate:compareStartDate, compareEndDate:compareEndDate})">
                                <i class="fa fa-gear text-info"></i>
                                <span>Account Settings</span>
                            </a>
                        </li>
                        <li ng-if="headerCtrl.authObj.isAdmin === 'admin'" ng-click="headerCtrl.getProduct('Field Settings')">
                            <a data-ui-sref="index.fieldSettings({lan: lan, accountId: accountId, accountName: accountName, startDate: startDate, endDate: endDate, compareStatus: compareStatus, compareStartDate:compareStartDate, compareEndDate:compareEndDate})">
                                <i class="fa fa-cog text-danger"></i>
                                <span>Field Settings</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal">
            <div class="copyright">
                &copy; Dashience. All Rights Reserved.
            </div>
        </div>
        <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->
</section>
<script>
    $(function () {
        $.AdminBSB.browser.activate();
        $.AdminBSB.leftSideBar.activate();
        $.AdminBSB.rightSideBar.activate();
        $.AdminBSB.navbar.activate();
        $.AdminBSB.dropdownMenu.activate();
        $.AdminBSB.input.activate();
        $.AdminBSB.select.activate();
        $.AdminBSB.search.activate();

        setTimeout(function () {
            $('.page-loader-wrapper').fadeOut();
        }, 50);
    });
</script>
