<link href="../../lib/css/pdf.css" rel="stylesheet" type="text/css"/>
<style>
    .col-fixed-2 {
        width: 190px !important;
        margin-right: 8px;
        float: left;
    }
    .col-fixed-3 {
        width: 320px !important;
        margin-right: 8px;
        float: left;
    }
    .col-fixed-4 {
        width: 430px !important;
        margin-right: 8px;
        float: left;
    }
    .col-fixed-6 {
        width: 650px !important;
        margin-right: 8px;
        float: left;
    }
    .col-fixed-8 {
        width: 870px !important;
        margin-right: 8px;
        float: left;
    }
    .col-fixed-12 {
        width: 1307px !important;
        margin-right: 8px;
        float: left;
    }

    .c3 {
        max-width:100%;
        max-height:100%;
    }

    .content {
        padding:0px 17px !important;
    }

    .panel-body {
        padding:5px 5px !important;
        border: none !important;
    }
    .content {
        width:1350px;
    }    
    .wrapper {
        width:1350px;
        margin:0;
        background:#fff;
        border:none;
        /*overflow:auto;*/
    }

    .header-pdf {
        padding: 0px;
        margin-bottom: 5px;
        margin-top: 0px;
    }
    .head-title h2 {
        font-size:18pt;
        margin:0;
        padding:0;
        text-transform: uppercase;
        font-weight:600;
        float: left;
        color: white;
    }
    .sub-header {
        border:1px solid #eaeaea;
        min-height:80px;
        padding:5px 0px;
        margin-top:10px;
        margin-bottom: 10px;
        overflow: hidden;
    }
    .sub-description{
        border: 1px solid #eaeaea;
        padding: 5px 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        overflow: hidden;
    }
    .h-150 {
        min-height: 110px;
    }

    .hpanel .stats {
        border:none !important;
    }

    .hpanel {
        border: 1px solid #eaeaea;
        margin-bottom: 15px;
    }
    .pull-right {
        float: right;
    }
    .section-right-block {
        padding: 5px 10px;
        background: #fff;
        color: #6abe1e;
    }
    img {
        max-width:100%;
    }

    .section-block h4 {
        color: #6abe22;
    }

    svg {
        max-width:99% !important;
    }
    .head-title {
        background: #555 !important;
        color: #fff;
        overflow: hidden;
        padding: 10px 10px;
        border-radius: 2px;
        margin-bottom: 10px;
        position: relative
    }
    .pageBreak{   
        page-break-inside:avoid;
    }
    p{   
        page-break-inside:avoid;
    }
    .description{
        font-size: 16px;
        clear: both;
    }
    @media print  {
        .pdfButton {
            display:none !important;
            margin-top: -20px !important;
        }
        .pdf-title-color span{
            background: transparent !important;
            color: #fff !important; 
        }
        .description{
            color: #000 !important; 
            font-size: 16px !important;
        }
        .pdf-subtitle-color{     
            background: transparent !important;
            color:#6abe1e !important;
        }
        .table{
            width: 99% !important;
        }
        .text-widget {
            word-wrap: break-word;
        }
    }
    @media screen {
        .pdfButton {
            display:block;
            margin-top: -20px !important;
        }
    }
</style>

<div>
    <div class="wrapper">
        <div class="header-pdf">        
            <img src="static/img/logos/dashience-logo.jpg" width="80"> &nbsp;
            <img src="{{userAccountLogo}}" width="100"> 
            <!--<img class="pull-right user-select-logo" src="{{pdfLogo}}" width="100">--> 
        </div>
        <div class="sub-header">
            <div class="col-md-12">

                <div class="section-block pull-left">
                    <h4 class="pdf-subtitle-color">{{reportPdfStartDate}} - {{reportPdfEndDate}}</h4>
                    <h2><strong>{{userAccountName}}</strong><strong ng-if="reportPdfTitle != null && reportPdfTitle.length != 0">{{" - " + reportPdfTitle}}</strong></h2>
                </div>

                <div class="pull-right">
                    <div class="section-right-block">                    
                        <p class="pdf-subtitle-color"><span translate>Email</span>: info@dashience.com<br><span translate>Phone</span>: 773-446-7565</p><br>
                        <div class="pdfButton">
                            <button class="btn btn-default btn-xs pdf" ng-click="downloadUiPdf()">Pdf</button><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sub-description">
            <div class="pull-left col-md-12">
                <p class="description">{{reportPdfDescription}}</p>                 
            </div>
        </div> 

        <div class="content">
            <div class="row">                
                <div class="pageBreak" ng-repeat="reportWidget in reportWidgets">
                    <div class="hpanel col-fixed-{{reportWidget.widgetId.width}} pageBreak" ng-if="reportWidget.widgetId.chartType == 'ticker'">
                        <div set-Ticker-Fn="setTickerFn(tickerFn)" 
                             widget-Obj="{{reportWidget.widgetId}}"
                             ticker-Directive ticker-Source="{{reportWidget.widgetId.dataSetId}}" 
                             ticker-Title-Name="{{reportWidget.widgetId.widgetTitle}}" 
                             ticker-Id="{{reportWidget.widgetId.id}}" 
                             ticker-Columns="{{reportWidget.widgetId.columns}}">                                 
                        </div>
                    </div>

                    <div class="hpanel pageBreak col-fixed-{{reportWidget.widgetId.width}}" ng-if="reportWidget.widgetId.chartType != 'ticker'">
                        <div class="panel-heading">                           
                            <span class="text-capitalize">{{reportWidget.widgetId.widgetTitle?reportWidget.widgetId.widgetTitle:'Widget'}}</span>
                        </div>
                        <div class="panel-body pageBreak" ng-if="reportWidget.widgetId.chartType === 'line'">
                            <div class="col-fixed-{{reportWidget.widgetId.width}}" style="width:{{(1300 * reportWidget.widgetId.width) / 12}}px">
                                <div set-Line-Chart-Fn="setLineChartFn(lineFn)" 
                                     line-Chart-Directive 
                                     line-Chart-Source="{{reportWidget.widgetId.dataSetId}}" 
                                     widget-Id="{{reportWidget.widgetId.id}}" 
                                     widget-Columns="{{reportWidget.widgetId.columns}}" 
                                     widget-Obj="{{reportWidget.widgetId}}">                                         
                                </div>
                            </div>
                        </div>
                        <div class="panel-body pageBreak" ng-if="reportWidget.widgetId.chartType === 'bar'">
                            <div class="col-fixed-{{reportWidget.widgetId.width}}" style="width:{{(1300 * reportWidget.widgetId.width) / 12}}px">
                                <div set-Bar-Chart-Fn="setBarChartFn(barFn)" 
                                     bar-Chart-Directive 
                                     bar-Chart-Source="{{reportWidget.widgetId.dataSetId}}" 
                                     widget-Id="{{reportWidget.widgetId.id}}" 
                                     widget-Columns="{{reportWidget.widgetId.columns}}" 
                                     widget-Obj="{{reportWidget.widgetId}}">                                         
                                </div>
                            </div>
                        </div>
                        <div class="panel-body pageBreak" ng-if="reportWidget.widgetId.chartType === 'pie'">
                            <div class="col-fixed-{{reportWidget.widgetId.width}}" style="width:{{(1300 * reportWidget.widgetId.width) / 12}}px">
                                <div set-Pie-Chart-Fn="setPieChartFn(pieFn)" 
                                     pie-Chart-Directive 
                                     pie-Chart-Source='{{reportWidget.widgetId.dataSetId}}' 
                                     widget-Id="{{reportWidget.widgetId.id}}" 
                                     widget-Columns="{{reportWidget.widgetId.columns}}" 
                                     widget-Obj="{{reportWidget.widgetId}}">                                         
                                </div>
                            </div>
                        </div>
                        <div class="panel-body pageBreak"  ng-if="reportWidget.widgetId.chartType === 'area' || reportWidget.widgetId.chartType === 'combination'">
                            <div class="col-fixed-{{reportWidget.widgetId.width}}" style="width:{{(1300 * reportWidget.widgetId.width) / 12}}px">
                                <div set-Area-Chart-Fn="setAreaChartFn(areaFn)"
                                     area-Chart-Directive 
                                     area-Chart-Source="{{reportWidget.widgetId.dataSetId}}" 
                                     widget-Id="{{reportWidget.widgetId.id}}" 
                                     widget-Columns="{{reportWidget.widgetId.columns}}" 
                                     widget-Obj="{{reportWidget.widgetId}}"></div>
                            </div>
                        </div>
                        <div class="panel-body pageBreak" ng-if="reportWidget.widgetId.chartType === 'scatter'">
                            <div class="col-fixed-{{reportWidget.widgetId.width}}" style="width:{{(1300 * reportWidget.widgetId.width) / 12}}px">
                                <div scatter-Chart-Directive 
                                     scatter-Chart-Source="{{reportWidget.widgetId.dataSetId}}" 
                                     widget-Id="{{reportWidget.widgetId.id}}" 
                                     widget-Columns="{{reportWidget.widgetId.columns}}" 
                                     widget-Obj="{{reportWidget.widgetId}}">                                     
                                </div>
                            </div>
                        </div>                       
                        <div class="list pageBreak" ng-if="reportWidget.widgetId.chartType === 'table'" adjust-height>
                            <div class="table-responsive project-list" style="width:{{(1300 * reportWidget.widgetId.width) / 12}}px">
                                <div id="changes-height" class="project-list">
                                    <div set-Table-Chart-Fn="setTableChartFn(tableFn)" 
                                         dynamic-Table pdf-function="addToPdf(test)" 
                                         dynamic-Table-Source="{{reportWidget.widgetId.dataSetId}}" 
                                         widget-Id="{{reportWidget.widgetId.id}}" widget-Obj="{{reportWidget.widgetId}}" 
                                         table-Footer="{{reportWidget.widgetId.tableFooter}}" 
                                         widget-Columns="{{reportWidget.widgetId.columns}}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body pageBreak"  ng-if="reportWidget.widgetId.chartType === 'text'">
                            <div class="col-fixed-{{reportWidget.widgetId.width}}" style="width:{{(1300 * reportWidget.widgetId.width) / 12}}px">
                                <div class="text-widget">
                                    <span ng-bind-html="reportWidget.widgetId.content"></span>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body pageBreak"  ng-if="reportWidget.widgetId.chartType === 'stackedbar'">
                            <div class="col-fixed-{{reportWidget.widgetId.width}}" style="width:{{(1300 * reportWidget.widgetId.width) / 12}}px">
                                <div set-stacked-Bar-Chart-Fn="setStackedBarChartFn(stackedBarChartFn)" 
                                     stacked-Bar-Chart-Directive 
                                     stacked-Bar-Chart-Source="{{reportWidget.widgetId.dataSetId}}" 
                                     widget-Id="{{reportWidget.widgetId.id}}" 
                                     widget-Columns="{{reportWidget.widgetId.columns}}" 
                                     widget-Obj="{{reportWidget.widgetId}}">                                         
                                </div>
                            </div>
                        </div> 
                        <div class="panel-body pageBreak" ng-if="reportWidget.widgetId.chartType === 'funnel'">
                            <div class="col-fixed-{{reportWidget.widgetId.width}}" style="width:{{(1300 * reportWidget.widgetId.width) / 12}}px">
                                <div funnel-Directive
                                     funnel-Source="{{reportWidget.widgetId.dataSetId}}" 
                                     widget-Obj="{{reportWidget.widgetId}}" 
                                     funnel-Id="{{reportWidget.widgetId.id}}"
                                     funnel-Columns="{{reportWidget.widgetId.columns}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
