
<style>
    .popover {
        width: 304px;
        max-width: 100%;
    }
</style>
<div ng-controller="UiController">
    <div class="normalheader transition animated fadeIn">
        <div class="hpanel">
            <div class="panel-body header-title">
                <div id="hbreadcrumb" class="pull-right">
                    <div class="col-sm-11">
                        <div class="col-sm-5">
                            <button class="btn btn-default btn-xs" ns-popover=""
                                    ns-popover-template="popover"
                                    ns-popover-trigger="click"
                                    ns-popover-placement="bottom"
                                    ns-popover-theme="ns-popover-tooltip-theme" 
                                    ns-popover-timeout="1000" 
                                    ns-popover-hide-on-inside-click="false" 
                                    ns-popover-hide-on-outside-click="true" 
                                    ns-popover-hide-on-button-click="true">
                                SaveAsTemplate
                            </button>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <ui-select ng-model="selectAccount.selected" on-select="getTemplateId(selectTemplate.selected); loadNewUrl()" theme="selectize" ng-disabled="disabled" style="width:180px;">
                                    <ui-select-match placeholder="Select template...">{{$select.selected.templateName}}</ui-select-match>
                                    <ui-select-choices repeat="template in templates | filter: $select.search">
                                        <span ng-bind-html="template.templateId.templateName | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="font-bold m-b-xs">
                    {{dashboardName}}
                </h2> 

            </div>
        </div>
    </div>
    <section class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel hgreen">
                    <ul class="nav nav-tabs">
                        <li ng-repeat="tab in tabs" ui-sref-active="active" ng-dblclick="startEditing(tab);" ng-drop="true" ng-drop-success="onDropTabComplete($index, $data,$event)">
                            <a class="active" ng-drag="true" ng-drag-data="tab" ui-sref="index.dashboard.widget({accountId: accountId, accountName: accountName, tabId: tab.id})">
                                <span ng-hide="tab.editing">{{tab.tabName}}</span>
                                <form ng-submit="doneEditing(tab)" ng-show="tab.editing">
                                    <input class="form-control" ng-model="tab.tabName" ng-blur="doneEditing(tab)" ng-focus="tab == editedItem">
                                </form>
                            </a>
                            <button ng-if="permission.deleteTab === true;" class="close closeTab" data-toggle="modal" data-target="#deleteTabModal{{tab.id}}" type="button">×</button>

                            <div class="modal hmodal-success" id="deleteTabModal{{tab.id}}" tabindex="-1" role="dialog"  aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="color-line"></div>
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Delete</h4>
                                            <small class="font-bold"></small>
                                        </div>
                                        <div class="modal-body">
                                            <span>Want to delete ?</span>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary btn-xs" ng-click="deleteTab($index, tab)" data-dismiss="modal"><span class="fa fa-save"></span> Yes</button>  
                                            <button type="button" class="btn btn-danger btn-xs " data-dismiss="modal"><span class="fa fa-times"></span> No
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <li ng-if="permission.addTab === true;" class="pull-left add-tab" data-toggle="modal" data-target="#tabModal"><i class="fa fa-plus-circle"></i> Add Tab</li> 
                        <div class="modal fade hmodal-success" id="tabModal" tabindex="-1" role="dialog"  aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="color-line"></div>
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">TAB</h4>
                                        <small class="font-bold"></small>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-horizontal" role="form">

                                            <div class="form-group">
                                                <div class="col-sm-12  col-md-12">
                                                    <div class="col-sm-3 col-md-3">
                                                        <label>Tab Name </label>
                                                    </div>
                                                    <div class="col-sm-9 col-md-9">
                                                        <input type="text" ng-model="tab.tabName" class="form-control "/>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="col-sm-12">
                                            <button type="button" class="btn btn-primary btn-xs" ng-click="addTab(tab)" data-dismiss="modal"><span class="fa fa-trash"></span> Save</button>  
                                            <button type="button" class="btn btn-danger btn-xs " data-dismiss="modal"><span class="fa fa-times"></span> Cancel
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </ul>
                    <div class="tab-content" ng-if="tabs.length > 0">
                        <div class="row" ngsf-fullscreen="fullscreenCtrl">
                            <div id="tab-1" class="tab-pane active">
                                <ui-view></ui-view>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/ng-template" id="popover">
    <div class="triangle"> </div>
    <div class="ns-popover-tooltip">
  <form class="form-inline">
  <ul>
  <li class="input-group">
      <input type="text" ng-model="tab.templateName" placeholder="Enter template name" class="form-control"/>
  <button class="btn btn-success btn-sm" ng-click="saveTemplate(tab)">Save</button>
  </li>
  </ul>
     </form>
         </div>
</script>
