<style>
    .as-sortable-item, .as-sortable-placeholder {
        display: table-cell !important;
    }
    *.unselectable {
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;

        /*
          Introduced in IE 10.
          See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
        */
        -ms-user-select: none;
        user-select: none;
    }
    .close {
        float: right;
        font-size: 21px;
        font-weight: bold;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        filter: alpha(opacity=20);
        opacity: .2;
        margin-top: 0px;
        margin-right: 0px;
    }

    .preview-table-settings:hover .button{
        opacity: 1;
    }
    .ns-popover-tooltip > li {
        /*        display:block;*/
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        /*line-height: 1.42857143;*/
        color: #333;
        white-space: nowrap;

    }

    .col-md-2{
        margin-top: 20px !important;
    }
    .checkbox{
        margin-top: 30px !important;
    }
    .controls {
        padding-bottom: 10px;
    }

    .ns-popover-tooltip a {
        text-decoration: none;
    }


    .scheduler-checkBox-label{
        display: block;
        padding-left: 15px;
        text-indent: -15px;
        cursor: pointer;
    }
    .scheduler-checkBox{
        width: 13px;
        height: 13px;
        padding: 0;
        margin:0;
        vertical-align: bottom;
        position: relative;
        top: -1px;
        *overflow: hidden;
    }
    .close {
        float: right;
        font-size: 21px;
        font-weight: bold;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        filter: alpha(opacity=20);
        opacity: .2;
        margin-top: 0px;
        margin-right: 0px;
    }
    .custom-daterange-box{
        display: flex;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    .custom-daterange-box-icon{
        margin-left: 48px;
    }
    .scheduler-list-style{
        height: auto;
        overflow: auto;
    }
    .ui-select-bootstrap > .ui-select-choices, .ui-select-bootstrap > .ui-select-no-choice {
        display: contents;
    }
    .search-check {
        vertical-align: middle;
    }
    .edit-widget {
        margin-top:10px;
        margin-bottom:10px;
    }
    .edit-widget-space{
        overflow: hidden;
    }
    .dragtable-sortable { 
        list-style-type: none; margin: 0; padding: 0; -moz-user-select: none;
    }
    .dragtable-sortable li {
        margin: 0; padding: 0; float: left; font-size: 1em; background: white; 
    }

    .dragtable-sortable th, .dragtable-sortable td{
        border-left: 0px;
    }

    .dragtable-sortable li:first-child th, .dragtable-sortable li:first-child td {
        border-left: 1px solid #CCC; 
    }

    .ui-sortable-helper {
        opacity: 0.7;filter: alpha(opacity=70);
    }
    .ui-sortable-placeholder { 
        -moz-box-shadow: 4px 5px 4px #C6C6C6 inset;
        -webkit-box-shadow: 4px 5px 4px #C6C6C6 inset;
        box-shadow: 4px 5px 4px #C6C6C6 inset;
        border-bottom: 1px solid #CCCCCC;
        border-top: 1px solid #CCCCCC;
        visibility: visible !important;
        background: #EFEFEF !important; 
        visibility: visible !important;
    }
    .ui-sortable-placeholder * { 
        opacity: 0.0; visibility: hidden; 
    }
   .group{
        background-color: #fff;
        padding: 15px;
        border-radius: 5px;
        border: solid 1px #666;
    }

    .group-conditions{
        margin-left: 20px;
    }

    .alert-group{
        margin-top: 10px;
        margin-bottom: 10px;
        border-color: rgb(192, 152, 83);
        border-color: rgb(251, 238, 213);
        border-color: rgb(220, 200, 150);
    }

    .condition, .group{
        margin-top: 15px;
        margin-bottom: 15px;
    }
</style>
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body header-title">
            <div id="hbreadcrumb" class="pull-right">
            </div>
            <h2 class="font-bold m-b-xs ng-binding">
                Edit Widget
            </h2>               
        </div>
    </div>
</div>
<div class="content" ng-repeat="widget in editWidgetData">
    <div class="row edit-widget">

        <!--        <div class="pull-right">
                    <button class='btn btn-default' ng-if="!(widget.chartType)" ng-click='closeWidget()'><span class='fa fa-times'></span> Cancel</button>
                </div>-->

        <div class="row col-md-12">
            <div class="col-lg-4">
                <div>
                    <label>Data Source</label>
                    <div class="input-group m-b">
                        <span class="input-group-addon">
                            <div ng-if="permission.createDataSource === true;"> 
                                <i title="Data Source" ng-click="removeBackDrop()" data-ui-sref="index.dataSource({accountId: accountId,accountName: accountName, startDate: startDate, endDate: endDate})" class="fa fa-link"></i>
                            </div>                            
                        </span>
                        <select class="form-control m-b" ng-model="widget.dataSourceId" ng-disabled="widget.chartType == 'text'"
                                ng-change="selectDataSource(widget.dataSourceId, widget)"
                                ng-options="dataSource.name for dataSource in dataSources track by dataSource.id">
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div>
                    <label>Data Set</label>
                    <div class="input-group m-b">
                        <span class="input-group-addon">                                
                            <div ng-if="permission.createDataSet === true;">
                                <i title="Data Set" ng-click="removeBackDrop()" data-ui-sref="index.dataSet({accountId: accountId,accountName: accountName, startDate: startDate, endDate: endDate})" class="fa fa-link"></i>
                            </div>
                        </span>
                        <select class="form-control" ng-disabled="widget.chartType == 'text'" ng-model="widget.dataSetId" ng-options="dataSet.name for dataSet in dataSets track by dataSet.id" ng-change="changeUrl(widget.dataSetId, widget)">
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="col-md-12">
                    <div><label>Chart Type</label></div>
                    <a class="btn btn-app" ng-repeat="chartType in chartTypes track by chartType.id" ng-click="previewChart(chartType, widget)"> 
                        <span class="previewChart" title="{{chartType.name}}">
                            <i style="cursor: pointer" class="fa {{chartType.icon}}" ng-class="{'selected': chartType.type == (selectedRow?selectedRow:widget.chartType)}"></i> </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row col-md-12">            
            <div ng-if="editChartType == 'table'">   
                <div class="form-group col-md-4">
                    <div>
                        <label>Max Record</label>
                        <input type="text" ng-model="widget.maxRecord" class="form-control">
                        <!--<input type="text" ng-model="widget.maxRecord" class="form-control" ng-change="reloadMaxRecord(widget)">-->
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="col-md-12">
                        <div class="checkbox col-md-6" >
                            <input type="checkbox" ng-model="widget.tableFooter" ng-checked="widget.tableFooter == 1" />
                            <label> Table Footer </label>
                        </div>

                        <div class="checkbox col-md-6" >
                            <input type="checkbox" ng-model="widget.zeroSuppression" ng-checked="widget.zeroSuppression == 1">
                            <label>Zero Suppression</label>
                        </div>
                     </div>
                </div> 
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-4">
                <label>Date Range</label>
               
                <div>
                    <div class="dropdown editWidgetDropDown">
                        <button class="drop btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            {{widget.dateRangeName?widget.dateRangeName:"Select Date Duration"}}
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu scheduler-list-style">
                            <li><a>Custom Range</a >
                                <div class="col-md-12">
                                    <div>
                                        <a  class="pull-right custom-daterange-box" custom-Widget-Date-Range id="widgetDateRange">
                                            <span class="date-border">
                                                {{widget.customStartDate ? widget.customStartDate : startDate| date: "MM/dd/yyyy"}} - {{widget.customEndDate ? widget.customEndDate : endDate| date: "MM/dd/yyyy"}} 
                                            </span>
                                        </a> 
                                    </div>
                                </div>
                            </li>
                            <!--                        <li ng-click="selectWidgetDuration('None', widget)"><a>None</a></li>
                                                        <li ng-click="selectWidgetDuration('Today', widget)"><a>Today</a></li>
                                                        <li ng-click="selectWidgetDuration('Yesterday', widget)"><a>Yesterday</a></li>
                                                        <li ng-click="selectWidgetDuration('This Week', widget)"><a>This Week</a></li>
                                                        <li ng-click="selectWidgetDuration('Last Week', widget)"><a>Last Week</a></li>
                                                        <li ng-click="selectWidgetDuration('This Month', widget)"><a>This Month</a></li>
                                                        <li ng-click="selectWidgetDuration('Last Month', widget)"><a>Last Month</a></li>
                                                        <li ng-click="selectWidgetDuration('This Year', widget)"><a>This Year</a></li>
                                                        <li ng-click="selectWidgetDuration('Last Year', widget)"><a>Last Year</a></li>-->
                            <li>
                                <a>Last <input type="text"
                                               ng-model="widget.lastNdays" 
                                               ng-change="selectWidgetDuration('Last N Days', widget)" 
                                               class="form-control" 
                                               ng-model-options="{debounce: 500}"
                                               style="width: 60px; display: contents; height: 25px;"> 
                                    Days
                                </a>
                            </li>
                            <li>
                                <a>Last <input type="text" 
                                               ng-model="widget.lastNweeks" 
                                               ng-change="selectWidgetDuration('Last N Weeks', widget)"
                                               class="form-control" 
                                               ng-model-options="{debounce: 500}"
                                               style="width: 60px; display: contents; height: 25px;"> 
                                    Weeks
                                </a>
                            </li>
                            <li>
                                <a>Last <input type="text" 
                                               ng-model="widget.lastNmonths" 
                                               ng-change="selectWidgetDuration('Last N Months', widget)"
                                               class="form-control" 
                                               ng-model-options="{debounce: 500}"
                                               style="width: 60px; display: contents; height: 25px;"> 
                                    Months
                                </a>
                            </li>
                            <li>
                                <a>Last <input type="text" 
                                               ng-model="widget.lastNyears" 
                                               ng-change="selectWidgetDuration('Last N Years', widget)"
                                               class="form-control" 
                                               ng-model-options="{debounce: 500}"
                                               style="width: 60px; display: contents; height: 25px;"> 
                                    Years
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--            <div ng-show="widget.dateRangeName === 'Custom'">
                            <div class="col-md-4">
                                <label>Custom Range</label>
                                <div>
                                    <a class="pull-right custom-daterange-box" custom-Widget-Date-Range id="widgetDateRange">
                                        <span class="date-border">
                                            {{widget.customStartDate ? widget.customStartDate : startDate| date: "MM/dd/yyyy"}} - {{widget.customEndDate ? widget.customEndDate : endDate| date: "MM/dd/yyyy"}} 
                                        </span>
                                    </a> 
                                </div>
                            </div>
                        </div>  -->  

            <div class="col-md-4">
                <label>Tags</label>
                <div>
                    <ui-select multiple tagging tagging-label="" tagging-tokens="SPACE|,|/" ng-model="widget.tagName"  on-remove="removedTags($item)" theme="bootstrap" ng-disabled="disabled" class="form-control">
                        <ui-select-match placeholder="Tags...">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="tag in tags | filter:$select.search">
                            {{tag}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>

        <div class="nav-tabs-custom col-md-12">
            <ul class="nav nav-tabs">
                <li ng-class="{ active: isSet(1) }">
                    <a href ng-click="setTab(1)"> Config
                    </a>
                </li>
                <li ng-class="{ active: isSet(2) }">
                    <a href ng-click="setTab(2)"> Filter
                    </a>
                </li>
                <!--            <li ng-if="permission.assignAccount === true;" ng-class="{ active: isSet(3) }">
                                <a href ng-click="setTab(3)"> User
                                </a>
                            </li>-->
            </ul>
        </div>
        <div class="tab-content">
            <div ng-show="isSet(1)">
                <div class="row edit-widget">
                    <div ng-if="!(editChartType == 'table' || editChartType == 'text' || editChartType == '')">
                        <div class="col-lg-12 table-deeta edit-widget">
                            <div class="hpanel hgreen border-table"> 
                                <div class="panel-heading">
                                    <div class="edit-widget-space">
                                        <div ng-hide='editPreviewTitle'> 
                                            <a class="title-ew" ng-click='editPreviewTitle = true;'>{{widget.widgetTitle?widget.widgetTitle:"Widget Title"}}</a>
                                        </div> 
                                        <div class="col-sm-10" ng-show='editPreviewTitle'>                           
                                            <input  class='form-control' type='text' ng-model='widget.widgetTitle'>
                                        </div>
                                        <div class='col-sm-2 pull-right' ng-show='editPreviewTitle'>
                                            <a ng-click='editPreviewTitle = false'><i class='fa fa-save'></i></a>
                                            <a ng-click='editPreviewTitle = false'><i class='fa fa-close'></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">                    

                                    <div class="col-md-6" ng-if="editChartType != 'ticker'">
                                        <div class="form-group">
                                            <div class="col-md-12" ng-if="editChartType != 'pie'">
                                                <label>Select X-Axis</label>
                                                <select style="height:28px; font-size: 11px;  padding: 0px 12px;" 
                                                        class="form-control" ng-model="xColumn" 
                                                        ng-options="currentColumn.displayName for currentColumn in collectionFields track by currentColumn.fieldName" 
                                                        ng-change="selectX1Axis(widget, xColumn)">
                                                </select>
                                            </div>
                                            <div class="col-md-12" ng-show="editChartType == 'pie'">
                                                <label>Select X Axis</label>
                                                <select style="height:28px; font-size: 11px;  padding: 0px 12px;" 
                                                        class="form-control" ng-model="selectPieChartXAxis" 
                                                        ng-options="currentColumn.displayName for currentColumn in collectionFields track by currentColumn.fieldName" 
                                                        ng-change="selectPieChartX(widget, selectPieChartXAxis)">
                                                </select>
                                            </div>
                                            <div class="col-md-12" ng-show="editChartType == 'pie'">
                                                <label>Select Y Axis</label>
                                                <select style="height:28px; font-size: 11px;  padding: 0px 12px;" 
                                                        class="form-control" ng-model="selectPieChartYAxis" 
                                                        ng-options="currentColumn.displayName for currentColumn in collectionFields track by currentColumn.fieldName" 
                                                        ng-change="selectPieChartY(widget, selectPieChartYAxis)">
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group" ng-if="editChartType != 'pie'">
                                            <div class="col-md-12">
                                                <label>Select Y1-Axis</label>
                                                <ui-select multiple ng-model="y1Column" theme="bootstrap"  on-select="selectY1Axis(widget, y1Column)" on-remove="removedByY1Column(widget,$item, y1Column)">
                                                    <ui-select-match placeholder=" y1 Axis...">{{$item.displayName}}</ui-select-match>
                                                    <ui-select-choices repeat="y1axis in collectionFields  | filter:$select.search">
                                                        {{y1axis.displayName}}
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>

                                        <div class="form-group" ng-if="editChartType != 'pie'">
                                            <div class="col-md-12">
                                                <label>Select Y2-Axis</label>
                                                <ui-select multiple ng-model="y2Column" theme="bootstrap" on-select="selectY2Axis(widget, y2Column)" on-remove="removedByY2Column(widget,$item, y2Column)">
                                                    <ui-select-match placeholder=" y2 Axis...">{{$item.displayName}}</ui-select-match>
                                                    <ui-select-choices repeat="y2axis in collectionFields  | filter:$select.search">
                                                        {{y2axis.displayName}}
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="checkbox" ng-model="showAdvanceOptions"> Advance Options
                                            </div>
                                        </div>

                                        <div class="form-group" ng-if="showAdvanceOptions == true">
                                            <div class="col-md-12">
                                                <label>Format</label>                                 
                                                <table class="table table-bordered table-responsive">
                                                    <thead>
                                                        <tr>
                                                            <th>Field Name</th>
                                                            <th>Display Name</th>
                                                            <th>Format</th>
                                                            <th>Sort</th>
                                                            <th>Field Type</th>
                                                            <th>Combination Type</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="columnList in widget.columns">
                                                            <td>{{columnList.fieldName}}</td>
                                                            <td>
                                                                <div>
                                                                    <input type="text" class="form-control" ng-model="columnList.displayName">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <select class='form-control' style="height:28px; font-size: 11px;  padding: 0px 12px;" ng-model='columnList.displayFormat' ng-change="setChartFormat(widget, columnList)">
                                                                    <option ng-repeat='format in formats' value='{{format.value}}'>{{format.name}}</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <select style="height:28px; font-size: 11px;  padding: 0px 12px;" ng-model='columnList.sortOrder' ng-change="setChartFormat(widget, columnList)" class='form-control'>
                                                                    <option ng-repeat='sort in sorting' value='{{sort.value}}'>{{sort.name}}</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <select class='form-control' style="height:28px; font-size: 11px;  padding: 0px 12px;" ng-model='columnList.fieldType' ng-change="setChartFormat(widget, columnList)">
                                                                    <option ng-repeat='fieldType in fieldTypes' value='{{fieldType.value}}'>{{fieldType.name}}</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <select class='form-control' style="height:28px; font-size: 11px;  padding: 0px 12px;" ng-model='columnList.combinationType' ng-change="setCombinationChartType(widget, columnList)">
                                                                    <option ng-repeat=' combinationChartType in combinationChartTypes' value='{{combinationChartType.value}}'>{{combinationChartType.name}}</option>
                                                                </select> 
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4" ng-show="editChartType == 'ticker'">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>Ticker Items</label>
                                                <ui-select multiple ng-model="tickerItem" limit='3' theme="bootstrap" on-select="ticker(widget, tickerItem)" on-remove="removedByTicker(widget,$item,tickerItem)">
                                                    <ui-select-match placeholder=" Ticker Value...">{{$item.displayName}}</ui-select-match>
                                                    <ui-select-choices repeat="currentColumn in collectionFields  | filter:$select.search">
                                                        {{currentColumn.displayName}}
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>Format</label>
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <td>Field Name</td>
                                                            <td>Display Name</td>
                                                            <td>Format</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="tickerItems in widget.columns">
                                                            <td>{{tickerItems.displayName}}</td>
                                                            <td>
                                                                <div>
                                                                    <input type="text" class="form-control" ng-model="tickerItems.displayName">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <select class='form-control' style="height:28px; font-size: 11px;  padding: 0px 12px;" ng-model='tickerItems.displayFormat' ng-change="tickerFormat(widget, tickerItems)">
                                                                    <option ng-repeat='format in formats' value='{{format.value}}'>{{format.name}}</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group" ng-if="editChartType != 'ticker'">
                                            <div>
                                                <label>Max Record</label>
                                                <input type="text" ng-model="widget.maxRecord" class="form-control" ng-change="reloadMaxRecord(widget)">
                                            </div>
                                        </div>

                                        <div class="form-group" ng-show="editChartType == 'stackedbar'">
                                            <label>Grouping</label>
                                            <ui-select multiple ng-model="groupingFields" theme="bootstrap" on-select="selectGrouping(widget, groupingFields)" on-remove="removedByGrouping(widget,$item, grouping)">
                                                <ui-select-match placeholder=" group...">{{$item.displayName}}</ui-select-match>
                                                <ui-select-choices repeat="group in collectionFields  | filter:$select.search">
                                                    {{group.displayName}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>

                                        <div ng-if="editChartType === 'ticker'">
                                            <div ticker-Directive ticker-Source="{{previewChartUrl}}" ticker-Id="{{widget.id}}" ticker-Columns="{{previewColumn.columns}}"></div>
                                        </div>
                                        <div ng-if="editChartType === 'line'">
                                            <div>
                                                <div line-Chart-Source='{{previewChartUrl}}' widget-Columns="{{previewColumn.columns}}" line-Chart-Directive preview-Widget="{{previewColumn}}" widget-Obj="{{widget}}"></div>
                                            </div>
                                        </div>
                                        <div ng-if="editChartType === 'area'">
                                            <div>
                                                <div area-Chart-Source='{{previewChartUrl}}' widget-Columns="{{previewColumn.columns}}" area-Chart-Directive preview-Widget="{{previewColumn}}" widget-Obj="{{widget}}"></div>
                                            </div>
                                        </div>
                                        <div ng-if="editChartType === 'bar'">
                                            <div>
                                                <div bar-Chart-Directive bar-Chart-Source='{{previewChartUrl}}' widget-Columns="{{previewColumn.columns}}" preview-Widget="{{previewColumn}}" widget-Obj="{{widget}}"></div>
                                            </div>
                                        </div>
                                        <div ng-if="editChartType === 'pie'">
                                            <div>
                                                <div pie-Chart-Source='{{previewChartUrl}}' widget-Columns="{{previewColumn.columns}}" pie-Chart-Directive preview-Widget="{{previewColumn}}" widget-Obj="{{widget}}"></div>
                                            </div>                            
                                        </div> 
                                        <div ng-if="editChartType === 'stackedbar'">
                                            <div>
                                                <div stacked-Bar-Chart-Source='{{previewChartUrl}}' widget-Columns="{{previewColumn.columns}}" stacked-Bar-Chart-Directive preview-Widget="{{previewColumn}}" widget-Obj="{{widget}}"></div>
                                            </div>                            
                                        </div>
                                    </div>


                                </div> 
                                <div class='panel-footer'>
                                    <div>
                                        <button class='btn btn-default' ng-click='closeWidget()'><span class='fa fa-times'></span> Cancel</button>
                                        <button class='btn btn-info' ng-click='save(widget)'><span class='fa fa-save'></span> Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row edit-widget" ng-if="editChartType === 'table'">
                    <div class="col-lg-12">
                        <div class="preview-table">
                            <div widget-Preview-Table 
                                 preview-Table-List='{{collectionFields}}'
                                 preview-Urls='{{previewChartUrl}}' 
                                 preview-Columns='{{widget.columns}}' 
                                 preview-Widget="{{previewColumn}}" 
                                 preview-Widget-Table="{{widget}}"
                                 aggregations-Types="{{selectAggregations}}"
                                 group-Priorities="{{selectGroupPriorities}}"
                                 sorting-Fields="{{sorting}}"
                                 display-Formats="{{formats}}"
                                 display-Alignments="{{alignments}}"
                                 hide-Options="{{hideOptions}}"
                                 field-Types="{{fieldTypes}}"
                                 reload-Url="{{currentLocation}}">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row" ng-if="editChartType === 'text'">
                    <div class="col-sm-12">
                        <div class="hpanel hgreen border-table">
                            <div class="panel-heading">
                                <div ng-hide='editPreviewTitle'> 
                                    <span><a ng-click='editPreviewTitle = true'>{{widget.widgetTitle?widget.widgetTitle:"Widget Title"}}</a></span>
                                </div> 
                                <div ng-show='editPreviewTitle'>
                                    <div class='col-sm-8'>
                                        <input  class='form-control' type='text' ng-model='widget.widgetTitle'>
                                    </div> 
                                    <div class='col-sm-4'>
                                        <a ng-click='editPreviewTitle = false'><i class='fa fa-save'></i></a>
                                        <a ng-click='editPreviewTitle = false'><i class='fa fa-close'></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body" style="overflow: auto;height:350px;">
                                <div>
                                    <textarea ck-Editor ng-model="widget.content" rows="10" cols="99"></textarea>
                                </div>  
                            </div>  
                            <div class='panel-footer'>
                                <div>
                                    <button class='btn btn-default' ng-click='closeWidget()'><span class='fa fa-times'></span> Cancel</button>
                                    <button class='btn btn-info' ng-click='save(widget)'><span class='fa fa-save'></span> Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="isSet(2)" class="license">
                <div class="col-lg-12">
                    <div class="alert alert-info">
                        <strong>Output</strong><br>
                        <span ng-bind-html="output"></span>
                    </div>
                    <query-builder group="filter.group" collection="{{widget.columns}}"></query-builder>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="/queryBuilderDirective.html">
    <div class="alert alert-warning alert-group">
    <div class="form-inline">
    <select ng-options="o.name as o.name for o in operators" ng-model="group.operator" class="form-control input-sm"></select>
    <button style="margin-left: 5px" ng-click="addCondition()" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add Condition</button>
    <button style="margin-left: 5px" ng-click="addGroup()" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add Group</button>
    <button style="margin-left: 5px" ng-click="removeGroup()" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-minus-sign"></span> Remove Group</button>
    </div>
    <div class="group-conditions">
    <div ng-repeat="rule in group.rules | orderBy:'index'" class="condition">
    <div ng-switch="rule.hasOwnProperty('group')">
    <div ng-switch-when="true">
    <query-builder group="rule.group" collection="{{columns}}"></query-builder>
    </div>
    <div ng-switch-default="ng-switch-default">
    <div class="form-inline">
    <select ng-options="t.name as t.name for t in fields" ng-model="rule.field" class="form-control input-sm"></select>
    <select style="margin-left: 5px" ng-options="c.name as c.name for c in conditions" ng-model="rule.condition" class="form-control input-sm"></select>
    <input style="margin-left: 5px" type="text" ng-model="rule.data" class="form-control input-sm"/>
    <button style="margin-left: 5px" ng-click="removeCondition($index)" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-minus-sign"></span></button>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</script>
