<style>
    .ui-select-bootstrap .ui-select-toggle > .caret {
        position: absolute;
        height: 10px;
        top: 50%;
        right: 10px;
        margin-top: -2px;
        padding: 0px;
    }
    .previewChart {
        border-radius: 5px;
        border: none;
        font-size: 30px;
        padding: 20px;
        color: #99a5aa;
        line-height: 1px;
    }
    .selected {
        color: rgb(240, 173, 78);
        font-size: 30px;
        line-height: 1px;
        border-radius: 5px;
        border: none;
        padding: 1vw;
    }
    .wid i{
        font-size:30px;
        color: #99a5aa !important;
    }

    .dropdown-item:focus, .dropdown-item:hover {
        color: #2b2d2f;
        text-decoration: none;
        margin:0;
        padding:0;
        border:1px solid #cdcdcd;
    }

    .dropdown-content {
        position: absolute;
        float: left;
        width:280px;
        margin-left: -151px;
        text-align: center;
    }
    .dropdown-item {
        display: block;
        width: 100%;
        overflow: hidden;
    }

    .firstrow {
        margin: 5px 11px;
    }

    .secondrow {
        margin: 5px 11px;
        width: 126px;
    }

    .thirdrow {
        margin: 5px 11px;
        width: 260px;
    }

    .btn-apps {
        border-radius: 3px;
        position: relative;
        padding: 15px 5px;
        margin: 5px 0px 5px 10px;
        min-width: 80px;
        text-align: center;
        color: #666;
        border: 1px solid #ddd;
        background-color: #fcfcfc;
        font-size: 12px;
    }

    .lay-wid {
        text-align:left;
    }

    .wrap{
        white-space: normal;
    }
    .ui-grid-cell{
        height: auto !important;
    }

    .odd {
        color: #333;
        background-color: rgb(235, 238, 225) !important;
    }

    .even {
        color: #333;
        background-color: #fff !important;
    }
    .oddFirst {
        color: #333;
        background-color: #fff !important;
    }

    .evenFirst {
        color: #333;
        background-color: rgb(235, 238, 225) !important;
    }
    .count{
        text-align: right;
    }
    .as-sortable-item, .as-sortable-placeholder {
        display: table-row !important;
    }
    *.unselectable {
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .text-widget{
        margin: 0 0 10px;
        word-wrap: break-word;
    }
</style>
<div class="row add-widget">
    <div class="pull-right-container pull-right">
        <div class="btn-group">
            <a class="refresh" ng-click="pageRefresh()"><i class="fa fa-repeat"></i> Refresh Data</a>
        </div>
        <div class="btn-group">
        <a class="refresh" ng-click="downloadPdf()"><i class="fa fa-download"></i> PDF</a>
        </div>
        <div class="btn-group">
            <a class="refresh" ng-click="downloadPpt()"><i class="fa fa-download"></i> PPT</a>
        </div>
        <div class="btn-group dropdown">
            <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                <button type="button" class="btn btn-block btn-info"><i class="fa fa-plus-circle"></i> Add Widget</button>
            </a>
            <div class="dropdown-menu dropdown-content">
                <span class="lay-wid">Select the Layout</span>
                <a href="" class="dropdown-item" ng-click="addWidget('2')">
                    <div class="col-md-2 btn-apps wid firstrow"><i class="fa fa-line-chart"></i></div>
                    <div class="col-md-2 btn-apps wid firstrow"><i class="fa fa-pie-chart"></i></div>
                    <div class="col-md-2 btn-apps wid firstrow"><i class="fa fa-table"></i></div>
                </a>
                <a href="" class="dropdown-item" ng-click="addWidget('3')">
                    <div class="col-md-5 btn-apps wid secondrow"><i class="fa fa-table"></i></div>
                    <div class="col-md-5 btn-apps wid secondrow"><i class="fa fa-area-chart"></i></div>
                </a>
                <a href="" class="dropdown-item" ng-click="addWidget('6')">
                    <div class="col-md-10 btn-apps wid thirdrow"><i class="fa fa-table"></i></div>
                </a>
            </div>
        </div>
    </div>
</div>
<div>
    <div ng-repeat="widget in widgets">

        <div ng-if="widget.chartType == 'ticker'">
            <div class="col-sm-{{2 * widget.width}}" ng-drop="true" ng-drop-success="onDropComplete($index, $data, $event)">
                <div class="hpanel" ng-drag="true" ng-drag-data="widget">
                    <div class="panel-tools hover-delete">
                        <a class="edit" ui-sref="index.editWidget({locationId: locationID,productId: productID,tabId: widgetTabId, widgetId: widget.id, startDate: widgetStartDate, endDate: widgetEndDate})"><i class="fa fa-pencil"></i></a>
                        </a>
                        <a class="closebox" data-toggle="modal" data-target="#delete{{widget.id}}"><i class="fa fa-times"></i></a>
                        <div id="delete{{widget.id}}" class="modal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <strong>Delete</strong>
                                        <strong><button class="close" data-dismiss="modal">&times;</button></strong>
                                    </div>
                                    <div class="modal-body">
                                        <span>Want to delete ? </span>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-info btn-xs" ng-click="deleteWidget(widget, $index)" data-dismiss="modal"> Yes</button>
                                        <button class="btn btn-danger btn-xs" data-dismiss="modal"> No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ticker-Directive ticker-Source="{{widget.dataSetId}}" ticker-Title-Name="{{widget.widgetTitle}}" ticker-Id="{{widget.id}}" ticker-Columns="{{widget.columns}}"></div>
                </div>
            </div>
        </div>

        <div ng-if="widget.chartType != 'ticker'">
            <div class="col-md-{{2 * widget.width}} table-deeta" ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)">
                <div class="hpanel hgreen border-table" ng-hide="hidenewchart" ngsf-fullscreen="widgetCtrl"  ng-drag="true" ng-drag-data="widget"> 
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="edit" ui-sref="index.editWidget({locationId: locationID,productId: productID,tabId: widgetTabId, widgetId: widget.id, startDate: widgetStartDate, endDate: widgetEndDate})"><i class="fa fa-pencil"></i></a>
                            <a class="closebox" data-toggle="modal" data-target="#delete{{widget.id}}"><i class="fa fa-times"></i></a>
                            <div id="delete{{widget.id}}" class="modal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <strong>Delete</strong>
                                            <strong><button class="close" data-dismiss="modal">&times;</button></strong>
                                        </div>
                                        <div class="modal-body">
                                            <span>Want to delete ? </span>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-info btn-xs" ng-click="deleteWidget(widget, $index)" data-dismiss="modal"> Yes</button>
                                            <button class="btn btn-danger btn-xs" data-dismiss="modal"> No</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <span class="{{widget.icon}}"></span> 
                        <span class="text-capitalize">{{widget.widgetTitle}}</span>
                    </div>
                    <div class="panel-body" ng-if="widget.chartType === 'line'">
                        <div>
                            <div line-Chart-Directive line-Chart-Source="{{widget.dataSetId}}" widget-Id="{{widget.id}}" widget-Columns="{{widget.columns}}"></div>
                        </div> 
                    </div>
                    <div class="panel-body" ng-if="widget.chartType === 'bar'">
                        <div>
                            <div bar-Chart-Directive bar-Chart-Source="{{widget.dataSetId}}" widget-Id="{{widget.id}}" widget-Columns="{{widget.columns}}"></div>
                        </div> 
                    </div>
                    <div class="panel-body" ng-if="widget.chartType === 'pie'">
                        <div>
                            <div pie-Chart-Directive pie-Chart-Source='{{widget.dataSetId}}' widget-Id="{{widget.id}}" widget-Columns="{{widget.columns}}"></div>
                        </div> 
                    </div>
                    <div class="panel-body"  ng-if="widget.chartType === 'area'">
                        <div class="table-responsive">
                            <div area-Chart-Directive area-Chart-Source="{{widget.dataSetId}}" widget-Id="{{widget.id}}" widget-Columns="{{widget.columns}}"></div>
                        </div>
                    </div>
                    <div class="panel-body list" ng-if="widget.chartType === 'table'" adjust-height>
                        <div class="table-responsive project-list">
                            <div id="changes-height" class="project-list">
                                <div dynamic-Table pdf-function="addToPdf(test)" dynamic-Table-Source="{{widget.dataSetId}}" widget-Id="{{widget.id}}" widget-Obj="{{widget}}" table-Footer="{{widget.tableFooter}}" widget-Columns="{{widget.columns}}"></div> 
                            </div>
                        </div>
                    </div>
                    <div class="panel-body"  ng-if="widget.chartType === 'text'">
                        <div class="col-md-12">
                            <div class="text-widget">
                                <span ng-bind-html="widget.content"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div> 
    </div>
</div>
