
<style>
    .ui-select-bootstrap .ui-select-toggle > .caret {
        position: absolute;
        height: 10px;
        top: 50%;
        right: 10px;
        margin-top: -2px;
        padding: 0px;
    }
    .previewChart {
        border-radius: 5px;
        border: none;
        font-size: 30px;
        padding: 20px;
        color: #99a5aa;
        line-height: 1px;
    }
    .selected {
        color: rgb(240, 173, 78);
        font-size: 30px;
        line-height: 1px;
        border-radius: 5px;
        border: none;
        padding: 1vw;
    }
    .wid i{
        font-size:30px;
        color: #99a5aa !important;
    }

    .dropdown-item:focus, .dropdown-item:hover {
        color: #2b2d2f;
        text-decoration: none;
        margin:0;
        padding:0;
        border:1px solid #cdcdcd;
    }

    .dropdown-content {
        position: absolute;
        float: left;
        width:280px;
        margin-left: -151px;
        text-align: center;
    }
    .dropdown-item {
        display: block;
        width: 100%;
        overflow: hidden;
    }

    .firstrow {
        margin: 5px 11px;
    }

    .secondrow {
        margin: 5px 11px;
        width: 126px;
    }

    .thirdrow {
        margin: 5px 11px;
        width: 260px;
    }

    .btn-apps {
        border-radius: 3px;
        position: relative;
        padding: 15px 5px;
        margin: 5px 0px 5px 10px;
        min-width: 80px;
        text-align: center;
        color: #666;
        border: 1px solid #ddd;
        background-color: #fcfcfc;
        font-size: 12px;
    }

    .lay-wid {
        text-align:left;
    }

    .wrap{
        white-space: normal;
    }
    .ui-grid-cell{
        height: auto !important;
    }

    .odd {
        color: #333;
        background-color: #fff !important;
    }

    .even {
        color: #333;
        background-color: #fff !important;
    }
    .oddFirst {
        color: #333;
        background-color: #fff !important;
    }

    .evenFirst {
        color: #333;
        background-color: rgb(235, 238, 225) !important;
    }
    .count{
        text-align: right;
    }
    .as-sortable-item, .as-sortable-placeholder {
        display: table-row !important;
    }
    *.unselectable {
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .report-bottomMenu{
        z-index: 9999;
        position: fixed;
        border: 1px solid #ccc;
        background-color: #FFF;
        font-size: 12px;
        width: 300px;
        height: 466px;
        right: 70px;
        bottom: 0px;
        padding: 0;

    }
    .report-menuBody{
        padding: 18px 0px 0px 0px;
    }
    .report-menuHeader{
        background: #304445 none repeat scroll 0 0 !important;
        border-bottom: 3px solid #ccc;
        color: #fff;
        display: table;
        width: 100%;
        padding: 8px;
    }
    .report-header-icon{
        border: 2px solid #5a7172;
        border-radius: 12px;
        float: left;
        width: 14px;
        margin: 3px;
    }
    .report-header-title{
        float: left;
        font-size: 18px;
        margin: 0px 0px 5px 5px;
    }
    .report-header-tools{
        margin: 2px 0 0;
    }
    .report-header-closeBtn{
        background: transparent none repeat scroll 0 0;
        border: 1px solid #fff;
        border-radius: 7px;
        font-size: 10px;
        height: 17px;
        opacity: 0.9;
        padding: 0;
        text-align: center;
        width: 18px;
    }
    .report-body-content{
        padding: 16px;
        overflow: auto;
        height: 300px;
    }
    .report-body-img{
        float: left;
    }
    .report-body-imgs.in{
        border-radius: 50%;
        width: 74px;
    }
    .report-body-imgs{
        border: 0 none;
        box-sizing: border-box;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }
    .report-body-descr{
        list-style: outside none none;
        padding: 0;
        float: left;
        margin: 0 0 0 20px;
        max-width: 62%;
    }
    .report-desc-list{

        color: #000000;
        border-radius:5px;
        clear: both;
        display: block;
        border: 1px solid #ddd;
        float: left;
        font-size: 13px;
        padding: 8px 16px;
        position: relative;
        margin: 0;
        list-style: outside none none;
        word-break: break-all;
    }
    .report-footer-btn{
        padding: 16px;
    }
    .selected{
        background-color: #EBEEE1;
    }
    .text-widget{
        margin: 0 0 10px;
        word-wrap: break-word;
    }
    .report-chat-box {
        margin-bottom: 10px;
    }

    /*Favorites*/
    .red {
        color:red;
    }
    .green {
        color:#555;
    }
    .fa-heart{
        font-size: 13px !important;
        cursor:pointer;
    }

    span.stars, span.stars span {
        display: block;
        /* Download the star image here: http://stackoverflow.com/questions/1987524/turn-a-number-into-star-rating-display-using-jquery-and-css */
        background: url('static/img/logos/stars.png') 0 -16px repeat-x;
        width: 80px;
        height: 16px;
    }

    span.stars span {
        background-position: 0 0;
    }

    .alignright {
        float:right;
    }
</style>
<div class="row add-widget">
    <div class="pull-right-container pull-right">
        <div class="btn-group">
            <a class="refresh" ng-click="pageRefresh()"><i class="fa fa-repeat"></i> Refresh Data</a>
        </div>
        <div class="btn-group" ng-if="permission.downloadReport === true;">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Export
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li class="btn-group">
                        <a class="refresh" ng-click="downloadPdf()"><i class="fa fa-file-pdf-o"></i> Export PDF</a>
                    </li>
                    <li class="btn-group">
                        <a class="refresh" ng-click="downloadPpt()"><i class="fa fa-file-powerpoint-o"></i> Export PPT</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="btn-group dropdown" ng-if="permission.addWidget === true;">
            <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                <button type="button" class="btn btn-block btn-info" ng-click="addWidget()"><i class="fa fa-plus-circle"></i> Add Widget</button>
            </a>
            <!--            <div class="dropdown-menu dropdown-content">
                            <span class="lay-wid">Select the Layout</span>
                            <a href="" class="dropdown-item" ng-click="addWidget('2')">
                                <div class="col-md-2 btn-apps wid firstrow"><i class="fa fa-line-chart"></i></div>
                                <div class="col-md-2 btn-apps wid firstrow"><i class="fa fa-pie-chart"></i></div>
                                <div class="col-md-2 btn-apps wid firstrow"><i class="fa fa-table"></i></div>
                            </a>
                            <a href="" class="dropdown-item" ng-click="addWidget('3')">
                                <div class="col-md-5 btn-apps wid secondrow"><i class="fa fa-table"></i></div>
                                <div class="col-md-5 btn-apps wid secondrow"><i class="fa fa-area-chart"></i></div>
                            </a>
                            <a href="" class="dropdown-item" ng-click="addWidget('6')">
                                <div class="col-md-10 btn-apps wid thirdrow"><i class="fa fa-table"></i></div>
                            </a>
                        </div>-->
        </div>
    </div>
</div>
<div>
    <div ng-repeat="widget in widgets">
        <div ng-if="widget.chartType == 'ticker'">
            <div class="col-sm-{{widget.width}}" ng-drop="true" ng-drop-success="onDropComplete($index, $data, $event)">
                <div class="hpanel border-table" ng-drag="true" ng-drag-data="widget">
                    <div class="panel-tools">
                        <a class="refresh" ng-click="directiveTickerFn()" title="Refresh"><i class="fa fa-repeat"></i></a>
                        <a ng-if="permission.addWidget === true;" class="edit" title="Edit" ui-sref="index.editWidget({productId: productID,accountId: accountID, accountName: accountName,tabId: widgetTabId, widgetId: widget.id, startDate: widgetStartDate, endDate: widgetEndDate})"><i class="fa fa-pencil"></i></a>
                        <a ng-if="permission.deleteWidget === true;" class="closebox" title="Delete" data-toggle="modal" data-target="#delete{{widget.id}}"><i class="fa fa-times"></i></a>
                        <div id="delete{{widget.id}}" class="modal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <strong>Delete</strong>
                                        <strong><button class="close" data-dismiss="modal">&times;</button></strong>
                                    </div>
                                    <div class="modal-body">
                                        <span>Want to delete ? </span>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-info btn-xs" ng-click="deleteWidget(widget, $index)" data-dismiss="modal"> Yes</button>
                                        <button class="btn btn-danger btn-xs" data-dismiss="modal"> No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a ng-if="widget.width != 3" ng-click="reduceWidget(widget)" title="Resize-Left"><i class="fa fa-chevron-left"></i></a>
                        <a ng-if="widget.width != 12" ng-click="expandWidget(widget)" title="Resize-Right"><i class="fa fa-chevron-right"></i></a>
                    </div>
                    <div set-Ticker-Fn="setTickerFn(tickerFn)" ticker-Directive ticker-Source="{{widget.dataSetId}}" ticker-Title-Name="{{widget.widgetTitle}}" ticker-Id="{{widget.id}}" ticker-Columns="{{widget.columns}}"></div>
                </div>
            </div>
        </div>
        <div ng-if="widget.chartType != 'ticker'">
            <div class="col-md-{{widget.width}} table-deeta" ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)">
                <div class="hpanel hgreen border-table" ng-hide="hidenewchart" ngsf-fullscreen="widgetCtrl"  ng-drag="true" ng-drag-data="widget">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <div> 
                                <i class="fa fa-heart" title="Favourites" ng-click="favourites = !favourites;favouritesNew(favourites)" ng-class="{'red' : favourites,'green':!favourites}"></i>
                                <a ng-show="showCreateReport" title="Report" ng-click="showReportList[widget.id] = true;"><i class="fa fa-file-text"></i></a>
                                <a ng-if="widget.chartType === 'line'" title="Refresh" class="refresh" ng-click="directiveLineFn()"><i class="fa fa-repeat"></i></a>
                                <a ng-if="widget.chartType === 'bar'" title="Refresh" class="refresh" ng-click="directiveBarFn()"><i class="fa fa-repeat"></i></a>
                                <a ng-if="widget.chartType === 'pie'" title="Refresh" class="refresh" ng-click="directivePieFn()"><i class="fa fa-repeat"></i></a>
                                <a ng-if="widget.chartType === 'area'" title="Refresh" class="refresh" ng-click="directiveAreaFn()"><i class="fa fa-repeat"></i></a>
                                <a ng-if="widget.chartType === 'stackedbar'" title="Refresh" class="refresh" ng-click="directiveStackedBarFn()"><i class="fa fa-repeat"></i></a>
                                <a ng-if="widget.chartType === 'table'" title="Refresh" class="refresh" ng-click="directiveTableFn()"><i class="fa fa-repeat"></i></a>
                                <!--<a ng-if="widget.chartType === 'text'" class="refresh" ng-click="directiveTableFn()"><i class="fa fa-repeat"></i></a>-->
                                <a ng-if="permission.addWidget === true;" class="edit" title="Edit" ui-sref="index.editWidget({productId: productID,accountId: accountID, accountName: accountName,tabId: widgetTabId, widgetId: widget.id, startDate: widgetStartDate, endDate: widgetEndDate})"><i class="fa fa-pencil"></i></a>
                                <a ng-if="permission.deleteWidget === true;" class="closebox" data-toggle="modal" data-target="#delete{{widget.id}}" title="Delete"><i class="fa fa-times"></i></a>
                                <div id="delete{{widget.id}}" class="modal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <strong>Delete</strong>
                                                <strong><button class="close" data-dismiss="modal">&times;</button></strong>
                                            </div>
                                            <div class="modal-body">
                                                <span>Want to delete ? </span>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-info btn-xs" ng-click="deleteWidget(widget, $index)" data-dismiss="modal"> Yes</button>
                                                <button class="btn btn-danger btn-xs" data-dismiss="modal"> No</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a ng-if="widget.width != 3" ng-click="reduceWidget(widget)" title="Resize-Left"><i class="fa fa-chevron-left"></i></a>
                                <a ng-if="widget.width != 12" ng-click="expandWidget(widget)" title="Resize-Right"><i class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>

                        <span class="{{widget.icon}}" draggable-widget="widget" draggable-widget-callback="moveWidget"></span>
                        <span class="text-capitalize">{{widget.widgetTitle?widget.widgetTitle:'Widget'}}</span>

                    </div>
                    <div class="panel-body" ng-if="widget.chartType === 'line'">
                        <div>
                            <div set-Line-Chart-Fn="setLineChartFn(lineFn)" line-Chart-Directive line-Chart-Source="{{widget.dataSetId}}" widget-Id="{{widget.id}}" widget-Columns="{{widget.columns}}" widget-Obj="{{widget}}"></div>
                        </div>
                    </div>
                    <div class="panel-body" ng-if="widget.chartType === 'bar'">
                        <div>
                            <div set-Bar-Chart-Fn="setBarChartFn(barFn)" bar-Chart-Directive bar-Chart-Source="{{widget.dataSetId}}" widget-Id="{{widget.id}}" widget-Columns="{{widget.columns}}" widget-Obj="{{widget}}"></div>
                        </div>
                    </div>
                    <div class="panel-body" ng-if="widget.chartType === 'pie'">
                        <div>
                            <div set-Pie-Chart-Fn="setPieChartFn(pieFn)" pie-Chart-Directive pie-Chart-Source='{{widget.dataSetId}}' widget-Id="{{widget.id}}" widget-Columns="{{widget.columns}}" widget-Obj="{{widget}}"></div>
                        </div>
                    </div>
                    <div class="panel-body"  ng-if="widget.chartType === 'area'">
                        <div>
                            <div set-Area-Chart-Fn="setAreaChartFn(areaFn)" area-Chart-Directive area-Chart-Source="{{widget.dataSetId}}" widget-Id="{{widget.id}}" widget-Columns="{{widget.columns}}" widget-Obj="{{widget}}"></div>
                        </div>
                    </div>
                    <div class="list" ng-if="widget.chartType === 'table'" adjust-height>
                        <div class="table-responsive project-list">
                            <div id="changes-height" class="project-list">
                                <div set-Table-Chart-Fn="setTableChartFn(tableFn)" dynamic-Table pdf-function="addToPdf(test)" dynamic-Table-Source="{{widget.dataSetId}}" widget-Id="{{widget.id}}" widget-Obj="{{widget}}" table-Footer="{{widget.tableFooter}}" widget-Columns="{{widget.columns}}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body"  ng-if="widget.chartType === 'text'">
                        <div class="col-md-12">
                            <div class="text-widget">
                                <span ng-bind-html="widget.content"></span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body"  ng-if="widget.chartType === 'stackedbar'">
                        <div>
                            <div stacked-Bar-Chart-Fn="setStackedBarChartFn(stackedBarChartFn)" stacked-Bar-Chart-Directive stacked-Bar-Chart-Source="{{widget.dataSetId}}" widget-Id="{{widget.id}}" widget-Columns="{{widget.columns}}" widget-Obj="{{widget}}"></div>
                        </div>
                    </div>
                </div>
            </div>  

            <div class="report-bottomMenu pull-right" ng-show="showReportList[widget.id]">
                <div class="report-menuHeader">
                    <div class="col-md-10">
                        <!--<i class="report-header-icon fa fa-user" title="{{widget.widgetTitle}}"></i>-->
                        <h1 class="report-header-title">Add {{widget.widgetTitle}} To Report</h1>
                    </div>
                    <div class="report-header-tools pull-right">
                        <button class="report-header-closeBtn" ng-click="clearReport(); showReportList[widget.id] = false;"><i class="fa fa-close"></i></button>
                    </div>
                </div>
                <div class="report-menuBody">
                    <label class="col-sm-2">Report</label>
                    <div class="col-sm-10">
                        <ui-select ng-model="widget.reportWidget" on-select="selectReport(widget.reportWidget)" theme="select2" ng-disabled="disabled" style="width: 220px;">
                            <ui-select-match placeholder="Select Report...">{{$select.selected.reportTitle}}</ui-select-match>
                            <ui-select-choices repeat="report in reportList | filter: $select.search">
                                <span ng-bind-html="report.reportTitle | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="report-body-content">
                        <div class="row report-chat-box">
                            <div class="report-body-img">
                                <img class="report-body-imgs in" src="{{reportLogo}}">
                            </div>
                            <div class="form-group">
                                <ul class="report-body-descr" ng-if="reportDescription">
                                    <li class="report-desc-list" ng-init="limit = 150; moreShown = false">
                                        <p>
                                            {{reportDescription| limitTo: limit}} {{reportDescription.length > limit ? '...' : ''}}
                                            <a ng-show="reportDescription.length > limit" href ng-click="limit = reportDescription.length; moreShown = true">  More</a>
                                            <a ng-show="moreShown" href ng-click="limit = 150; moreShown = false"> Less </a>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-sm-12">
                                <table class="table table-bordered" ng-show="showReportWidgetName">
                                    <thead>
                                        <tr>
                                            <th>Sl.No</th>
                                            <th>Widget Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="titleName in reportWidgetTitle">
                                            <td>{{$index + 1}}</td>
                                            <td>{{titleName.widgetId.widgetTitle}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div ng-show="showReportEmptyMessage">
                                    <span><h4>{{reportEmptyMessage}}</h4></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="report-footer-btn">
                        <button class="btn btn-success pull-left" ng-click="goReport()">Goto Report</button>
                        <button class="btn btn-success" ng-click="addWidgetToReport(widget); showReportList[widget.id] = false;" style="float: right">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



